.business-page {
  margin-top: 80px;
  background: #fff;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;

  // 页面头部区域
  .business-header {
    height: 340px;
    background: url("~@/assets/img/company/business-header.png") no-repeat;
    background-size: 100% 100%;
    padding-left: 270px;

    p {
      line-height: 340px;
      font-weight: bold;
      font-size: 36px;
      color: #ffffff;
    }
  }

  // 通用样式
  .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #363130;
  }

  // 合同文书范本销售部分
  .contract-templates-section {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #fff;

    .templates-cards {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      width: 1300px;
      margin: 130px auto 0;

      .template-card {
        width: 400px;
        height: 486px;
        padding: 62px 38px 0 38px;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-icon {
          margin-bottom: 26px;
          width: 122px;
          height: 110px;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .card-title {
          font-size: 30px;
          font-weight: bold;
          color: #363130;
          margin-bottom: 30px;
        }

        .card-content {
          font-size: 16px;
          color: #374151;
          line-height: 34px;
          text-align: left;
        }

        &:nth-child(1) {
          background: url("~@/assets/img/company/business/template-left.png")
            no-repeat;
          background-size: 100% 100%;
        }
        &:nth-child(2) {
          background: url("~@/assets/img/company/business/template-center.png")
            no-repeat;
          background-size: 100% 100%;
        }
        &:nth-child(3) {
          background: url("~@/assets/img/company/business/template-right.png")
            no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

  // 免费律师中介服务部分
  .lawyer-service-section {
    padding-top: 70px;
    padding-bottom: 200px;
    background: #f4f6fa;

    .lawyer-cards {
      width: 1500px;
      margin: 0 auto;
      margin-top: 120px;
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .lawyer-card {
        width: 732px;
        height: 352px;
        background: linear-gradient(147deg, #d94e4e 0%, #ff9f9f 100%);
        box-shadow: 0px 0px 15px 1px rgba(108, 116, 148, 0.1);
        border-radius: 8px;
        padding: 62px 150px 62px 62px;
        color: #fff;
        position: relative;

        .card-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 20px;
        }

        .card-content {
          font-size: 15px;
          line-height: 34px;
        }

        .card-icon {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 229px;
          height: 206px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  // 免费法律咨询服务部分
  .consultation-section {
    padding-top: 70px;
    height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .consultation-content {
      height: 600px;
      background: url("~@/assets/img/company/business/consultation-bg.png")
        no-repeat;
      background-size: 1200px 550px;
      background-position: center 80px;
      position: relative;

      .service-channels {
        position: absolute;
        width: 340px;
        left: 940px;
        top: -30px;

        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background: #4e57d9;
          border-radius: 50%;
          bottom: -30px;
          left: 10px;
        }
        .content-title {
          font-size: 30px;
          font-weight: bold;
          color: #363130;
          margin-bottom: 10px;
        }

        .content-text {
          font-size: 16px;
          color: #363130;
          line-height: 34px;
        }
      }

      .service-content {
        position: absolute;
        width: 340px;
        left: 150px;
        top: 50%;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background: #4e57d9;
          top: 10px;
          right: -75px;
          border-radius: 50%;
        }

        .content-title {
          font-size: 30px;
          font-weight: bold;
          color: #363130;
          margin-bottom: 10px;
          text-align: right;
        }

        .content-text {
          font-size: 16px;
          color: #363130;
          line-height: 34px;
          text-align: left;
        }
      }

      .team-config {
        position: absolute;
        width: 340px;
        right: 150px;
        top: 50%;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background: #4e57d9;
          border-radius: 50%;
          top: 10px;
          left: -75px;
        }

        .content-title {
          font-size: 30px;
          font-weight: bold;
          color: #363130;
          margin-bottom: 10px;
        }

        .content-text {
          font-size: 16px;
          color: #363130;
          line-height: 34px;
        }
      }
    }
  }
}
.planning-section {
  padding-top: 70px;
  height: 812px;
  background: url("~@/assets/img/company/business/planning-bg.png") no-repeat;
  background-size: 100% 100%;
  .planning-text {
    width: 791px;
    font-family: Microsoft YaHei, Microsoft YaHei;
    font-weight: 400;
    font-size: 28px;
    color: #363130;
    line-height: 50px;
    margin-left: 204px;
    margin-top: 245px;
  }
}
