.help-page {
  margin-top: 80px;
  padding-bottom: 100px;
  background: #F4F6FA;
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;

  .help-header {
    height: 340px;
    background: url("~@/assets/img/company/help/help-header.jpg") no-repeat;
    background-size: 100% 100%;
    padding-left: 270px;

    p {
      line-height: 340px;
      font-weight: bold;
      font-size: 36px;
      color: #ffffff;
    }
  }
  .help-content {
    width: 1600px;
    background: #fff;
    border-radius: 8px;
    margin: 44px auto 0;
    padding: 56px 110px;
    .help-content-top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 40px;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 40px;
        font-weight: bold;
        color: #000;
      }
    }
    .help-content-bottom {
      font-size: 20px;
      color: #363130;
      font-weight: bold;
    }
  }
}
