.researchReport {
}
.researchReportTop {
}
.researchReportBottom {
  display: flex;
  flex-direction: column;
  background: #f3f8ff;
  align-items: center;
  .bottomContent {
    width: 1200px;
  }
}
