.layout {
  display: flex;
  flex-direction: row;
  min-height: 128px;
  margin-bottom: 50px;
  .left {
    margin-right: 18px;
    .left-img {
      width: 100px;
      height: 128px;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-family: OPPPSans;
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* 这里是超出几行省略 */
      overflow: hidden;
    }
    .sub {
      margin-top: -8px;
      font-family: OPPPSans;
      font-size: 12px;
      font-weight: 290;
      line-height: 18px;
      color: #717e8a;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* 这里是超出几行省略 */
      overflow: hidden;
    }
    .right-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .right-bottom-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        .right-bottom-info-status {
          width: 60px;
          height: 22px;
          font-size: 12px;
          background: #FEF1F0;
          color: #D7403C;
          text-align: center;
          line-height: 22px;
          margin-right: 15px;
        }
        .right-bottom-info-item {
          font-size: 12px;
          color: #717E8A;
          margin-right: 15px;
        }
      }
      .right-bottom-btn-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        .right-bottom-btn {
          cursor: pointer;
          width: 120px;
          height: 34px;
          font-size: 12px;
          border-radius: 23px;
          background: #ffffff;
          box-sizing: border-box;
          border: 1px solid #d9d9d9;
        }
        .right-bottom-btn-download {
          color: #4A5560;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          img {
            width: 16px;
            height: 16px;
            margin-left: 4px;
          }
        }
        .right-bottom-btn-primary {
          color: #ffffff;
          background: #005BAC;
          text-align: center;
          line-height: 32px;
        }
      }
    }
  }
}
