@media (max-width: 1199px) {
    .downloads-page{
        .page-title{
            padding: 0 1.5rem;
        }
        .download-list{
            .download-item{
                margin: 0 1.5rem;
                flex-direction: column;
                align-items: flex-start;
                .download-btn{
                    margin-top: 15px;
                }
            }
        }
    }
}