@media (max-width: 1199px) {
    .member-center{
        margin-top: 0;
        .w-1600{
            width: 100%;
            .member-layout{
                .member-sidebar{
                    display: none;
                }
                .member-content{
                    width: 100%;
                }
            }
        }
    }
}