@media (max-width: 1199px){
    .orders-page{
        .page-title{
            padding: 0 1.5rem;
        }
        .order-tabs-box{
            padding:2rem 1.5rem;
        }
        .order-list{
            .order-item {
                .order-header{
                    padding: 1rem;
                    flex-direction: column;
                    height: auto;
                    align-items: flex-start;
                    line-height: 3.5rem;
                    .order-info{
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 0;
                    }
                }
                .order-footer{

                }
            }
            
        }
    }
    // 订单详情页
    .order-detail-page{
        .order-header{
            padding:2rem 1.5rem;
            .header-info{
                gap: 0;
                flex-direction: column;
                .order-time{
                    margin-top: 15px;
                }
            }
        }
        .payment-status-section{
            padding:3rem 1.5rem 0;
            .status-title{
                font-size: 1.8rem !important;
            }
        }
        .document-info-section,
        .order-info-section{
            padding:3rem 1.5rem 0;
        }
        .order-footer{
            padding:3rem 1.5rem;
            .total-section{
                padding-right: 1rem;
            }
        }
    }
}