@media (max-width: 1199px) {
    .profile-page{
        .page-title{
            padding: 0 1.5rem;
        }
        .profile-content{
            padding:3rem 1.5rem;
            .basic-info{
                padding-left: 0;
            }
        }
    }
}