@media screen and (max-width: 1199px) {
   /deep/ .modal-pay-tip .el-dialog {
    width: 80%;
  }
   /deep/ .el-input__inner {
    height: 32px;
    padding: 0 10px;
  }
   /deep/ .el-upload {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .el-upload--picture-card i {
    font-size: 16px;
  }
  .upload-box {
    padding: 20px 20px;
    text-align: left;
  }
  .btn-cancel {
    min-width: 100px;
    height: 40px;
    border: 1px solid #00306B;
    color: #00306B;
    font-size: 14px;
  }
  .btn-confirm {
    margin-left: 20px;
    min-width: 100px;
    height: 40px;
    background: #00306B;
    color: #fff;
    font-size: 14px;
  }
  .img-check {
    cursor: pointer;
  }
  .img-check.check-0 {
    display: block;
  }
  .img-check.check-1 {
    display: none;
  }
  .checked {
    cursor: pointer;
  }
  .checked .check-0 {
    display: none !important;
  }
  .checked .check-1 {
    display: block !important;
  }
  .page {
    text-align: center;
    font-size: 14px;
  }
  .page .inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
  }
  .page .main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: left;
  }
  .page .main-title .left {
    font-size: 16px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333;
  }
  .page .main-title .left .num {
    margin-left: 10px;
  }
  .page .main-title .right {
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
  }
  .page .main-title .right .el-select {
    width: 250px;
  }
  .page .main-title .right .step-box {
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .page .main-title .right .step-box .step {
    flex: 1;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
  }
  .page .main-title .right .step-box .step:hover {
    opacity: 0.75;
  }
  .page .main-title .right .step-box .step.step-1 {
    clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
  }
  .page .main-title .right .step-box .step.step-2 {
    clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%);
  }
  .page .main-title .right .step-box .step.step-3 {
    clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%);
  }
  .page .main-title .right .step-box .step.active {
    background: #00306B;
    color: #fff;
  }
  .page .goods-list {
    text-align: left;
  }
  .page .goods-list .title {
    padding-left: 20px;
    height: 48px;
    line-height: 48px;
    background: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .page .goods-list .list {
    max-width: calc(100vw - 30px);
    overflow-x: auto;
  }
  .page .goods-list .list .goods-list-inner {
    max-width: 10000vw;
    width: 600px;
  }
  .page .goods-list .list .list-title {
    max-width: 10000vw;
    width: 600px;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: center;
    height: 48px;
    background: #f9f9f9;
    background: #fafbfc;
    padding: 15px;
    color: #666;
  }
  .page .goods-list .list .list-title .title-1 {
    flex: 2;
    text-align: left;
    padding-left: 10px;
  }
  .page .goods-list .list .list-title .title-2 {
    width: 100px;
  }
  .page .goods-list .list .list-title .title-3 {
    width: 80px;
  }
  .page .goods-list .list .list-title .title-4 {
    width: 100px;
  }
  .page .goods-list .list .item {
    max-width: 10000vw;
    width: 600px;
    border-bottom: 1px solid #eee;
  }
  .page .goods-list .list .item:last-child {
    border-bottom: none;
  }
  .page .goods-list .list .item .item-detail {
    max-width: 10000vw;
    width: 600px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    display: flex;
    align-items: center;
  }
  .page .goods-list .list .item .item-detail .item-1 {
    width: 100px;
  }
  .page .goods-list .list .item .item-detail .item-1 img {
    width: 100px;
    height: 100px;
  }
  .page .goods-list .list .item .item-detail .item-2 {
    flex: 2;
    padding-left: 20px;
    text-align: left;
  }
  .page .goods-list .list .item .item-detail .item-2 .goods-title {
    height: 40px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #1F1F1F;
    line-height: 18px;
  }
  .page .goods-list .list .item .item-detail .item-2 .goods-guige {
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #505050;
  }
  .page .goods-list .list .item .item-detail .item-3 {
    width: 100px;
    color: #00306B;
  }
  .page .goods-list .list .item .item-detail .item-4 {
    width: 80px;
  }
  .page .goods-list .list .item .item-detail .item-5 {
    width: 100px;
    color: #00306B;
  }
  .page .goods-list .huizong {
    padding: 10px;
    background: #f9f9f9;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #333333;
  }
  .page .goods-list .huizong .item {
    margin-bottom: 10px;
    text-align: right;
  }
  .page .goods-list .huizong .item b {
    font-weight: normal;
    font-size: 16px;
    color: #333;
  }
  .page .goods-list .huizong .total {
    text-align: right;
  }
  .page .goods-list .huizong .total b {
    font-weight: bold;
    font-size: 16px;
    color: #f13f17;
  }
  .page .bottom-btns {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
  }
  .page .bottom-btns button {
    width: 150px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #cccccc;
    font-size: 14px;
    font-weight: 400;
    color: #00306B;
    transition: 0.3s;
  }
  .page .bottom-btns button:hover {
    opacity: 0.8;
  }
  .page .bottom-btns button.back {
    margin-right: 24px;
    border: 1px solid #00306B;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #00306B;
  }
  .page .bottom-btns button.tijiao {
    color: #ffffff;
    background: #00306B;
  }
  .ziti-wrap {
    margin-bottom: 40px;
    text-align: left;
    min-height: 127px;
    background: #ffffff;
    border: 1px solid #cccccc;
  }
  .ziti-wrap .ziti-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    line-height: 48px;
    background: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: none;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .ziti-wrap .ziti-ctx {
    padding: 30px 20px;
  }
  .ziti-wrap .ziti-ctx .ziti-info {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .ziti-wrap .ziti-ctx .ziti-info span {
    display: inline-block;
    min-width: 100px;
  }
  .ziti-wrap .ziti-ctx .ziti-info .el-input {
    width: auto;
  }
  .ziti-wrap .ziti-ctx .ziti-info:last-child {
    margin-bottom: 0;
  }
  .dizhi-select {
    margin-bottom: 40px;
    text-align: left;
    min-height: 127px;
    background: #ffffff;
    border: 1px solid #cccccc;
  }
  .dizhi-select .dizhi-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    line-height: 48px;
    background: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: none;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .dizhi-select .dizhi-title .add b {
    font-weight: bold;
    color: #00306B;
    cursor: pointer;
  }
  .dizhi-select .dizhi-inner {
    padding: 30px 20px;
  }
  .dizhi-select .dizhi-inner .tip {
    font-size: 14px;
    color: #7d7d7d;
  }
  .dizhi-select .dizhi-inner .tip b {
    color: #00306B;
    cursor: pointer;
  }
  .dizhi-select .dizhi-inner .list {
    padding-left: 0;
  }
  .dizhi-select .dizhi-inner .list .item {
    cursor: pointer;
    font-size: 14px;
    color: #7d7d7d;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
  }
  .dizhi-select .dizhi-inner .list .item:last-child {
    margin-bottom: 0;
  }
  .dizhi-select .dizhi-inner .list .item:hover {
    background-color: #eee;
  }
  .dizhi-select .dizhi-inner .list .item.active {
    background: #eee;
  }
  .dizhi-select .dizhi-inner .list .item .name {
    width: 120px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #cccccc;
  }
  .dizhi-select .dizhi-inner .list .item .phone {
    margin: 0 15px;
  }
  .dizhi-select .dizhi-inner .list .item .moren {
    margin-left: 20px;
    min-width: 40px;
    height: 24px;
    line-height: 24px;
    background: #f29f25;
    font-size: 12px;
    color: #ffffff;
  }
  .dizhi-select .dizhi-inner .list .item .checked {
    flex: 2;
    color: #00306B;
    text-align: right;
  }
  .type-select {
    margin-bottom: 40px;
    text-align: left;
    min-height: 127px;
    background: #ffffff;
    border: 1px solid #cccccc;
  }
  .type-select .type-title {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    line-height: 48px;
    background: #f9f9f9;
    border-bottom: 1px solid #cccccc;
    border-top: none;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .type-select .type-inner {
    padding: 30px 20px;
  }
  .type-select .type-inner .select-1 {
    display: flex;
    align-items: center;
  }
  .type-select .type-inner .select-1 + .select-1 {
    margin-top: 30px;
  }
  .type-select .type-inner .select-1 .title {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }
  .type-select .type-inner .select-1 .list {
    padding-left: 20px;
  }
  .type-select .type-inner .select-1 .list button {
    margin-right: 20px;
    min-width: 96px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border: 1px solid #cccccc;
  }
  .type-select .type-inner .select-1 .list button.active {
    border: 1px solid #00306B;
  }
  .type-select .type-inner .ziti-box {
    padding-top: 10px;
  }
  .type-select .type-inner .ziti-box .title {
    font-weight: bold;
  }
  .type-select .type-inner .ziti-box .ziti-info {
    margin-top: 10px;
  }
  .order-action {
    background: #f9f9f9;
    background: #fff;
    padding: 0 0;
  }
  .order-action .order-action-inner {
    padding-bottom: 10px;
  }
  .order-action .section-item {
    margin-bottom: 10px;
  }
  .order-action .section-title {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    line-height: 25px;
    color: #333333;
  }
  .order-action .section-tip {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 25px;
    color: #1F1F1F;
  }
  .order-action .section-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .order-action .section-input input {
    display: inline-block;
    width: 240px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #cccccc;
    opacity: 1;
    border-radius: 4px;
    padding-left: 15px;
  }
  .order-action .section-input textarea {
    border: 1px solid #cccccc;
    outline: none;
    width: 460px;
    min-height: 100px;
    background: #fff;
    resize: none;
    padding: 10px 15px;
    border-radius: 4px;
  }
  .order-action .section-input .el-input {
    width: 340px;
  }
  .order-action .section-input .el-select {
    width: 340px;
  }
  .order-action .section-input .el-textarea {
    width: 460px;
    width: 100%;
  }
  .order-action .use-jifen-num {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .order-action .use-jifen-num b {
    color: #00306B;
  }
  .order-action .section-btn-actions {
    display: flex;
    align-items: center;
  }
  .order-action .section-btn-actions .btn {
    width: 160px;
    height: 32px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    color: #333333;
  }
  .order-action .section-btn-actions .btn.active {
    background: #009a44;
    color: #ffffff;
  }
  .section-info .section-ctx {
    padding-top: 0 !important;
  }
  .section {
    padding-bottom: 20px;
    text-align: left;
  }
  .section .section-title {
    padding-bottom: 16px;
    border-bottom: 1px solid #d5d8de;
    font-size: 16px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333333;
  }
  .section .section-ctx {
    padding-top: 20px;
  }
  .section .section-ctx .address-list {
    display: flex;
    flex-wrap: wrap;
  }
  .section .section-ctx .address-list .address-item {
    position: relative;
    margin-top: 20px;
    margin-right: 0;
    width: 100%;
    min-height: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid #d5d8de;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .section .section-ctx .address-list .address-item:nth-child(3n) {
    margin-right: 0;
  }
  .section .section-ctx .address-list .address-item:nth-child(-n + 3) {
    margin-top: 0;
  }
  .section .section-ctx .address-list .address-item.active {
    border: 2px solid #00306B;
  }
  .section .section-ctx .address-list .address-item.active .marker {
    display: block;
  }
  .section .section-ctx .address-list .address-item .marker {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
  }
  .section .section-ctx .address-list .address-item .address-top {
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d8de;
    font-size: 14px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #000000;
  }
  .section .section-ctx .address-list .address-item .address-bottom {
    padding-top: 10px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #505050;
  }
  .section .section-ctx .btn-box {
    margin-top: 10px;
    text-align: center;
  }
  .section .section-ctx .btn-box button {
    min-width: 124px;
    min-height: 32px;
    background: #ffffff;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #b9b9b9;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: normal;
    color: #1F1F1F;
  }
  .section-info .input-list {
    display: flex;
    flex-wrap: wrap;
  }
  .section-info .input-list .input-item {
    width: 100%;
    margin-top: 15px !important;
    margin-right: 0;
  }
  .section-info .input-list .input-item:nth-child(3n) {
    margin-right: 0;
  }
  .section-info .input-list .input-item:nth-child(-n + 3) {
    margin-top: 0;
  }
  .section-info .input-list .input-item .label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #1F1F1F;
  }
  .section-info .input-list .input-item .label span {
    color: #00306B;
  }
  .section-info .input-list .input-item .val .img-address-edit {
    margin-left: 15px;
    width: 16px;
    cursor: pointer;
  }
  .section-pay .pay-group {
    display: flex;
    align-items: center;
    align-items: flex-start;
  }
  .section-pay .pay-group + .pay-group {
    margin-top: 10px !important;
  }
  .section-pay .pay-group .title {
    min-width: 80px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #1F1F1F;
  }
  .section-pay .pay-group .pay-items {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section-pay .pay-group .pay-items .item {
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .section-pay .pay-group .pay-items .item .check-img {
    width: 14px;
  }
  .section-pay .pay-group .pay-items .item .check-img-1 {
    display: none;
  }
  .section-pay .pay-group .pay-items .item .marker-img {
    width: 24px;
    margin: 0 10px;
  }
  .section-pay .pay-group .pay-items .item span {
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #333;
  }
  .section-pay .pay-group .peisong-items .item {
    text-align: center;
    width: fit-content;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    background: #ffffff;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #00306B;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: normal;
    color: #00306B;
  }
  .section-huizong .sub-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    background: #fafbfc;
    cursor: pointer;
  }
  .section-huizong .sub-title.expand-0 {
    margin-bottom: 15px;
  }
  .section-huizong .sub-title .text {
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333333;
  }
  .section-huizong .sub-title img {
    width: 16px;
    margin-left: 15px;
  }
  .section-huizong .yhq-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  }
  .section-huizong .yhq-list .yhq-item {
    position: relative;
    margin-right: 24px;
    width: 220px;
    height: auto;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }
  .section-huizong .yhq-list .yhq-item.active {
    border-color: #00306B;
  }
  .section-huizong .yhq-list .yhq-item.active .marker {
    display: block;
  }
  .section-huizong .yhq-list .yhq-item .marker {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
  }
  .section-huizong .yhq-list .yhq-item .yhq-top {
    height: auto;
    background: #fdf2ef;
    padding: 10px 15px;
  }
  .section-huizong .yhq-list .yhq-item .yhq-top .yhq-1 {
    display: flex;
    align-items: center;
    align-items: flex-end;
  }
  .section-huizong .yhq-list .yhq-item .yhq-top .yhq-1 .text-1 {
    font-size: 24px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #00306B;
  }
  .section-huizong .yhq-list .yhq-item .yhq-top .yhq-1 .text-2 {
    margin-left: 5px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #333333;
  }
  .section-huizong .yhq-list .yhq-item .yhq-top .yhq-2 {
    margin-top: 10px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #505050;
  }
  .section-huizong .yhq-list .yhq-item .yhq-bottom {
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #00306B;
  }
  .section-huizong .yhq-select-info {
    height: 50px;
    line-height: 50px;
    background: #fafbfc;
    padding: 0 30px;
  }
  .section-huizong .yhq-select-info .number {
    color: #00306B;
    margin: 0 10px;
  }
  .section-huizong .remark-box .input-box {
    padding: 10px;
  }
  .section-ctx-type {
    padding-left: 0;
  }
  .yue-info {
    margin-top: 10px;
    padding: 15px;
    border: 1px dashed #ccc;
  }
  .yue-info .info-item {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .yue-info .info-item .info-label {
    line-height: 32px;
    padding-right: 10px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #1F1F1F;
  }
  .yue-info .info-item .info-val {
    line-height: 32px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #1F1F1F;
  }
  .yue-info .info-item .yue-warn-tip {
    color: #00306B;
    font-size: 14px;
  }
  .xianxia-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ccc;
  }
  .xianxia-info .info-item {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  .xianxia-info .info-item .info-label {
    line-height: 1.7;
    padding-right: 10px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #1F1F1F;
  }
  .xianxia-info .info-item .info-val {
    line-height: 1.7;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #1F1F1F;
  }
}
