@media screen and (max-width: 1199px) {
   /deep/ .el-rate__icon {
    color: #00306B !important;
  }
  .page {
    padding-bottom: 80px;
  }
  .page .main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    text-align: left;
    height: 56px;
    line-height: 56px;
    background: #ffffff;
    font-size: 16px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333333;
  }
  .page .main-title button {
    min-width: 96px;
    height: 30px;
    line-height: 30px;
    background: #00306B;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .page-ctx {
    margin-top: 24px;
    padding: 24px 32px;
    padding: 15px ;
    background: #fff;
  }
   /deep/ .btn-box {
    display: none;
  }
   /deep/ .el-upload--picture-card {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .el-upload__tip {
    margin-top: 0;
    height: 100px;
    padding-left: 20px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
  }
  .el-upload__tip .tip-text-1 {
    font-size: 16px;
    color: #777;
  }
  .el-upload__tip .tip-text-2 {
    margin-top: 20px;
    font-size: 14px;
    color: #888888;
  }
  .el-upload__tip .tip-text-2 .number {
    color: #e6170b;
  }
  .order-product {
    border: 1px solid #e5e5e5;
    margin-bottom: 25px;
  }
  .order-product .info-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
  }
  .order-product .info-title .date {
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333333;
  }
  .order-product .info-title .order-code {
    margin-top: 10px;
    width: 100%;
    flex: auto;
    text-align: left;
    padding-left: 0;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333333;
  }
  .order-product .info-title .order-code span {
    color: #333333;
  }
  .order-product .info-title .order-state {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px 6px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 20px;
    color: #505050;
    color: #00306B;
  }
  .order-product .info-title .order-state.state-2 {
    color: #00306B;
    border-color: #00306B;
  }
  .order-product .info-good .list-good .item-good {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    display: flex;
    align-items: center;
  }
  .order-product .info-good .list-good .item-good:last-child {
    border: none;
  }
  .order-product .info-good .list-good .item-good .img-box {
    width: 90px;
    cursor: pointer;
  }
  .order-product .info-good .list-good .item-good .img-box img {
    width: 80px;
    height: 80px;
  }
  .order-product .info-good .list-good .item-good .title {
    text-align: left;
    padding-left: 0;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    flex: 2;
  }
  .order-product .info-good .list-good .item-good .title .goods-title {
    width: fit-content;
    cursor: pointer;
  }
  .order-product .info-good .list-good .item-good .title .goods-title:hover {
    color: #00306B;
  }
  .order-product .info-good .list-good .item-good .num {
    width: auto;
    min-width: 20px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 20px;
    color: #505050;
  }
  .order-product .info-good .list-good .item-good .price {
    text-align: right;
    min-width: 80px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
  }
  .comment-box .form-box {
    min-height: 327px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
  }
  .comment-box .form-box .title {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
  }
  .comment-box .form-box .title .text {
    margin-right: 20px;
  }
  .comment-box .form-box .input-box /deep/ textarea {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    font-size: 14px;
  }
  .comment-box .form-box .input-box /deep/ textarea:focus {
    border-color: #e5e5e5 !important;
  }
  .comment-box .submit-box {
    margin-top: 40px;
    padding-bottom: 20px;
  }
  .comment-box .submit-box .btn {
    width: 300px;
    height: 48px;
    background: #00306B;
    border-radius: 4px 4px 4px 4px;
    transition: 0.3s;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #ffffff;
  }
  .comment-box .submit-box .btn:hover {
    opacity: 0.75;
  }
  .upload-box {
    padding: 20px 20px;
    text-align: left;
  }
}
