@media screen and (max-width:750px) {
    .business-page {
        margin: 0 auto;

        .business-header {
            height: 7rem;
            padding-left: 3rem;

            p {
                line-height: 6rem;
                font-size: 1.2rem;
            }
        }

        .contract-templates-section {
            padding-top: 1rem;
            padding-bottom: 2rem;

            .templates-cards {
                flex-direction: column;
                width: 100%;
                gap: 1rem;
                margin-top: 1rem;

                .template-card {
                    width: 90%;
                    margin: 0 auto;
                    padding: 1.2rem 0.8rem 0 0.8rem;
                    height: auto;
                    padding-bottom: 1rem;

                    .card-icon {
                        width: 7rem;
                        height: 7rem;
                        margin-bottom: 0.6rem;
                    }

                    .card-title {
                        font-size: 1.2rem;
                        margin-bottom: 0.6rem;
                    }

                    .card-content {
                        font-size: 0.8rem;
                        line-height: 2rem;
                    }
                }

                .template-card:nth-child(1) {
                    background: url("~@/assets/img/company/business/template-center.png") no-repeat;
                    background-size: 100% 100%;
                }

                .template-card:nth-child(3) {
                    background: url("~@/assets/img/company/business/template-center.png") no-repeat;
                    background-size: 100% 100%;
                }
            }
        }

        .section-title {
            font-size: 1.2rem;
        }

        .lawyer-service-section {
            padding-top: 1rem;
            padding-bottom: 2rem;

            .lawyer-cards {
                margin-top: 1rem;
                flex-direction: column;
                width: 100%;
                gap:1rem;

                .lawyer-card {
                    width: 100%;
                    padding: 1rem;
                    height: 12rem;
                    border-radius: 0.2rem;
                    gap: 1rem;

                    .card-title {
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }

                    .card-content {
                        font-size: 0.8rem;
                        line-height: 1.6rem;
                    }

                    .card-icon {
                        width: 5.2rem;
                        height: 5.2rem;
                    }
                }
            }
        }

        .consultation-section {
            height: 21rem;
            padding-top: 1rem;

            .consultation-content {
                height: 17rem;
                background-size: 20rem 10rem;

                .team-config {
                    width: 7rem;
                    right: 1rem;
                    top: 50%;

                    &::before {
                        width: 0.8rem;
                        height: 0.8rem;
                        top: 0.2rem;
                        left: -1rem;
                    }

                    .content-title {
                        font-size: 0.8rem;
                    }

                    .content-text {
                        font-size: 0.6rem;
                        line-height: 1rem;
                    }
                }

                .service-content {
                    width: 8rem;
                    left: 1rem;

                    &::before {
                        width: 0.8rem;
                        height: 0.8rem;
                        top: 0.2rem;
                        right: -1.5rem;
                    }

                    .content-title {
                        font-size: 0.8rem;
                    }

                    .content-text {
                        font-size: 0.6rem;
                        line-height: 1rem;
                    }
                }

                .service-channels {
                    width: 11rem;
                    left: 11rem;
                    top: 2rem;

                    &::before {
                        width: 0.8rem;
                        height: 0.8rem;
                        bottom: -2rem;
                        left: 1rem;
                    }

                    .content-title {
                        font-size: 0.8rem;
                    }

                    .content-text {
                        font-size: 0.6rem;
                        line-height: 1rem;
                    }
                }
            }
        }

        .planning-section {
            padding-top: 2rem;
            height: 10rem;

            .planning-text {
                width: 16.1rem;
                font-weight: 400;
                font-size: 0.7rem;
                color: #363130;
                line-height: 2rem;
                margin-left: 1.4rem;
                margin-top: 1.5rem;

            }
        }

    }
}