@media screen and (max-width:750px) {
    .page {
        .page-inner {
            .input-wrap {
                .input-box {
                    span {
                        font-size: 0.8rem;
                        width: 5rem;
                    }
                }
            }

            .btn-validate-box {
                font-size: 0.8rem;
            }
        }
    }
    .page .page-ctx{
        margin-top: 2rem;
    }
    .page .page-inner .input-wrap .register-box{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    .page .page-inner .form-box {
        position: relative;
    }
    .terms-box{
        height: 2.6rem;
         .terms-check {
            font-size: 0.8rem;
            img{
                width: 1rem;
                height: 1rem;
            }
         }
         .terms-text{
             font-size: 0.8rem;
         }
    }
}