@media (max-width: 1199px) {
    .page{
        .page-bg{
            img{
                object-fit: cover;
            }
        }
        .page-inner{
            width: 100%;
            right: 0;
            padding:0 15px;
            .page-poster{
                display: none;
            }
            .form-box{
                width: 100%;
                padding:30px 20px;
                .tab-box{
                    .tab-item{
                        font-size: 2.6rem;
                    }
                }
                .input-box{
                    width: 100%;
                   
                }
                .btn-box{
                    width: 100%;
                    button{
                        width: 100%;
                        font-size: 1.8rem;
                    }
                }
                .register-box{
                    margin-top: 30px;
                }
                /deep/.sms-box{
                    .label{
                        min-width: 100px;
                    }
                }

                
            }
        }

        /deep/.modal-box{
            .el-dialog__wrapper{
                padding:0 15px;
                .el-dialog__header{
                    .el-dialog__headerbtn{
                        top: 1rem;
                        .el-dialog__close{
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
    
}