.activityCard {
  position: relative;
  width: 385px;
  height: 382px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 26px;
  .topImg {
    width: 385px;
    height: 216px;
  }
  .cardContent {
    padding: 22px;
  }
  .activeTitle {
    font-family: OPPPSans;
    font-size: 18px;
    color: #111111;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* 这里是超出几行省略 */
    overflow: hidden;
  }
  .activeTime {
    margin: 26px 0px 11px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: OPPPSans;
    font-size: 13px;
    color: #666666;
  }
  .activeLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: OPPPSans;
    font-size: 13px;
    color: #666666;

    .activeLocationText {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin-left: 5px;
        width: 16px;
      }
    }
  }
  .activeIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .status {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 61px;
    height: 27px;
    color: #fff;
    background: #005bac;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    text-align: center;
    line-height: 27px;
  }
}
