.recentActivities {
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .recentActivitiesContent {
    width: 1200px;
    padding: 46px 0 74px 0;
  }
  .activeContent {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }
}
