@media screen and (max-width: 1199px) {
  .img-check {
    cursor: pointer;
  }
  .img-check.check-0 {
    display: block;
  }
  .img-check.check-1 {
    display: none;
  }
  .checked {
    cursor: pointer;
  }
  .checked .check-0 {
    display: none !important;
  }
  .checked .check-1 {
    display: block !important;
  }
  .page {
    padding-bottom: 80px;
  }
  .page .main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    text-align: left;
    height: 56px;
    line-height: 56px;
    background: #ffffff;
    font-size: 16px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #333333;
  }
  .page .main-title button {
    min-width: 96px;
    height: 30px;
    line-height: 30px;
    background: #00306B;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .page .page-ctx {
    margin-top: 24px;
    padding: 24px 32px 40px 32px;
    padding: 15px;
    background: #fff;
  }
  .wrap .inner {
    padding: 0;
  }
  .bottom-info {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .goods-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .goods-list .item {
    position: relative;
    cursor: pointer;
    background: #ffffff;
    margin-top: 30px;
    margin-right: 23px;
  }
  .goods-list .item:nth-child(4n) {
    margin-right: 0;
  }
  .goods-list .item:nth-child(-n + 4) {
    margin-top: 0;
  }
  .goods-list .item .action-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
  }
  .goods-list .item .action-box img {
    width: 27px;
  }
  .goods-list .item .img-box {
    overflow: hidden;
    width: 228px;
    height: 228px;
  }
  .goods-list .item .img-box img {
    width: 228px;
    height: 228px;
  }
  .goods-list .item .info {
    text-align: left;
    margin-top: 12px;
  }
  .goods-list .item .info .title {
    width: 228px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    line-height: 40px;
    color: #222222;
  }
  .goods-list .item .info .price-box {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  .goods-list .item .info .price-box .price {
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #ea5959;
  }
  .goods-list .item .info .price-box .xiaoliang {
    margin-left: 15px;
    font-size: 14px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #a5a5a5;
  }
  .fav-box .fav-titles {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    height: 44px;
    background: #f5f5f5;
    color: #1F1F1F;
    font-size: 14px;
  }
  .fav-box .fav-titles .fav-check {
    display: flex;
    align-items: center;
  }
  .fav-box .fav-titles .fav-check img {
    width: 13px;
    margin-right: 8px;
  }
  .fav-box .fav-titles .fav-delete {
    margin-left: 15px;
    cursor: pointer;
  }
  .fav-box .fav-list {
    border: 1px solid #e5e5e5;
    border-top: none;
  }
  .fav-box .fav-list .fav-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  .fav-box .fav-list .fav-item .goods-price {
    min-width: 0;
    white-space: nowrap;
  }
  .fav-box .fav-list .fav-item:last-child {
    border-bottom: none;
  }
  .fav-box .fav-list .fav-item .fav-check {
    width: 32px;
    text-align: left;
  }
  .fav-box .fav-list .fav-item .fav-check img {
    width: 13px;
  }
  .fav-box .fav-list .fav-item .goods-img {
    cursor: pointer;
  }
  .fav-box .fav-list .fav-item .goods-img img {
    width: 104px;
    height: 104px;
  }
  .fav-box .fav-list .fav-item .goods-img /deep/ img {
    width: 104px;
    height: 104px;
  }
  .fav-box .fav-list .fav-item .goods-title {
    flex: 1;
    text-align: left;
    padding-left: 15px;
  }
  .fav-box .fav-list .fav-item .goods-title .text-1 {
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: 400;
    color: #333333;
    line-height: 1.7;
  }
  .fav-box .fav-list .fav-item .goods-title .text-2 {
    font-size: 12px;
    font-family: Poppins, Poppins;
    font-weight: bold;
    color: #00306B;
  }
  .fav-box .fav-list .fav-item .goods-actions {
    min-width: 230px;
    display: none;
  }
  .fav-box .fav-list .fav-item .goods-actions button {
    width: 104px;
    height: 32px;
    background: #ffffff;
    border-radius: 4px;
    font-size: 14px;
  }
  .fav-box .fav-list .fav-item .goods-actions button.btn-cancel {
    color: #505050;
  }
  .fav-box .fav-list .fav-item .goods-actions button.btn-detail {
    display: none;
    border: 1px solid #00306B;
    color: #00306B;
  }
}
