@media screen and (max-width: 1199px) {
  .page {
    text-align: left;
    padding-bottom: 80px;
  }
  .page .main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    text-align: left;
    height: 56px;
    line-height: 56px;
    background: #ffffff;
    font-size: 16px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
  }
  .page .main-title button {
    min-width: 96px;
    height: 30px;
    line-height: 30px;
    background: #00306B;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .page .page-ctx {
    margin-top: 24px;
    padding: 32px 32px 55px 32px;
    padding: 15px;
    background: #fff;
  }
  .yue-box {
    position: relative;
    width: 100%;
    height: auto;
    background: url(~@img/yue-bg.png) no-repeat center / cover;
    background-size: 100% 100%;
    padding: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  .yue-box .text-box {
    text-align: left;
  }
  .yue-box .text-box .text-1 {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
  }
  .yue-box .text-box .text-2 {
    margin-top: 10px;
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
  }
  .yue-box .text-box .text-2 .currency {
    font-size: 18px;
  }
  .yue-box .text-box .text-3 {
    position: absolute;
    right: 24px;
    bottom: 20px;
  }
  .yue-box .text-box .text-3 button {
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    background: rgba(255, 255, 255, 0.78);
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666;
  }
  .tab-box {
    margin-top: 24px;
    flex: 2;
    display: flex;
    align-items: center;
  }
  .tab-box .tab-item {
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    margin-right: 60px;
    font-size: 14px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #333333;
  }
  .tab-box .tab-item.active {
    border-bottom: 3px solid #00306B;
    font-weight: bold;
    color: #00306B;
  }
  .mingxi-list {
    margin-top: 24px;
    border: 1px solid #e5e5e5;
  }
  .mingxi-list .mingxi-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
  }
  .mingxi-list .mingxi-item:last-child {
    border-bottom: none;
  }
  .mingxi-list .mingxi-item .mingxi-marker {
    display: none;
  }
  .mingxi-list .mingxi-item .mingxi-marker img {
    width: 32px;
  }
  .mingxi-list .mingxi-item .mingxi-ctx {
    flex: 1;
    padding: 0 0;
  }
  .mingxi-list .mingxi-item .mingxi-ctx .mingxi-title {
    font-size: 12px;
    color: #333333;
  }
  .mingxi-list .mingxi-item .mingxi-ctx .mingxi-desc {
    margin: 10px 0;
    font-size: 12px;
    color: #505050;
  }
  .mingxi-list .mingxi-item .mingxi-ctx .mingxi-date {
    font-size: 12px;
    color: #505050;
  }
  .mingxi-list .mingxi-item .mingxi-value span {
    font-size: 14px;
  }
  .mingxi-list .mingxi-item .mingxi-value.plus {
    color: #00306B;
  }
  .mingxi-list .mingxi-item .mingxi-value.minus {
    color: #8cc63f;
  }
}
