.newsInsight {
  background-color: #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .newsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 46px 0 0px 0;
    width: 1200px;
    .newsLeft {
      width: 745px;
    }
    .newsRight {
      width: 415px;
    }
  }
}
