@media screen and (max-width: 1199px) {
    .allow-wrap {
        .order-list{
            .order-item {
                .base-box {
                  .date {
                  //   padding: 0 10px;
                  //   width: 100%;
                    font-size: 12px;
                    background: none;
                    padding-right: 10px;
                  }
        
                  .order-code {
                    width: 20%;
                    font-size: 12px;
                    background: none;
                    padding: 0;
                    line-height: 1.4;
                  }
                }
        
                .product-box {
                  .product-item {
                    padding: 10px;
        
                    .box-pic {
                      width: 80px;
                      height: 80px;
                      .img-box {
                        width: 80px;
                        height: 80px;
                        img{
                            width: 80px;
                            height: 80px;
                        }
                      }
                    }
        
                    .box-title {
                      font-size: 12px;
                      padding-left: 18px;

                      .title{
                        width: 80px;
                        font-size: 12px;
                        line-height: 1.6;
                      }
        
                      .sku {
                        display: none;
                      }
                    }
        
                    .box-price,
                    .box-num,
                    .box-xiaoji {
                      font-size: 14px;
                      min-width: unset;
                      padding: 8px;
                      div{
                        font-size: 14px !important;
                      }
                    }
                  }
                }
        
                .actions-box {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  flex-wrap: wrap;
                  padding: 10px;
                  border-top: 1px solid #e5e5e5;
                  font-size: 14px;
                  font-family: Microsoft YaHei;
                  font-weight: 400;
                  line-height: 20px;
                  color: #7d7d7d;
        
                  button {
                    transition: 0.3s;
                    margin-left: 15px;
                    width: auto;
                    height: 26px;
                    padding: 0 10px;
                    border-radius: 4px;
                    font-size: 12px;
                  }
                }
              }
        }
       
      }
 
}
// 申请售后
@media screen and (max-width: 1199px) {
    .view-wrap{
        .page-title{
            font-size: 20px;
            padding:0 2rem;
        }
        .page-ctx{
            padding: 20px 15px;
            .refund-product-detail{
                .refund-item {
                    .product-box {
                        .product-item {
                          padding: 10px !important;
              
                          .box-pic {
                            width: 80px;
                            height: 80px;
                            .img-box {
                              width: 80px;
                              height: 80px;
                              img{
                                  width: 80px;
                                  height: 80px;
                              }
                            }
                          }
              
                          .box-title {
                            font-size: 12px;
                            padding-left: 18px;
        
                            .title{
                              width: 80px;
                              font-size: 12px;
                              line-height: 1.6;
                            }
              
                            .sku {
                              display: none;
                            }
                          }
              
                          .box-price,
                          .box-num,
                          .box-xiaoji {
                            font-size: 14px;
                            min-width: unset;
                            padding: 7px;
                            div{
                              font-size: 14px !important;
                            }
                          }
                        }
                      }
                }
            }

            .service-box{
                .service-title{
                    font-size: 18px;
                    margin-bottom: 1rem;
                }
                .service-list{
                    display: block;

                    .service-item{
                        margin-right: 0;
                        margin-bottom: 10px;
                        padding: 0.5rem 1rem;
                        height: auto;
                        .img-box{
                            img{
                                width: 3rem;
                            }
                        }
                        .text-box{
                            .type{
                                font-size: 16px;
                            }
                            .desc{
                                font-size: 14px;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                }
            }

            .form-wrap{
                .input-box{
                    margin-bottom: 1.5rem;

                    /deep/.el-select{
                        .el-input__inner{
                            height: 2rem;
                        }
                        .el-input__icon{
                            line-height: 1.5rem;
                        }
                    }

                    /deep/.el-upload--picture-card{
                        width: 10.5rem;
                        height: 10.5rem;
                        line-height: 10.5rem;
                    }
                }

                .submit-box{
                    padding-left: 0;
                    margin: 2rem auto 0;
                    text-align: center;
                    button{
                        width: 60%;
                        font-size: 16px;
                        height: 2.7rem;
                        line-height: 2.7rem;
                    }
                }
            }
           
        }
    }
}