@width: 1200px;
@theme: #00479D;
@navhead: 152px;

@font-face {
  font-family: element-icons;
  src: url(https://www.kahxhi.com/sys/static/fonts/element-icons.535877f5.woff) format("woff"), url(/assets/font/element-icons.732389de.ttf) format("truetype");
  font-weight: 400;
  font-display: auto;
  font-style: normal
}
@font-face {
  font-family: 'iconfont1';
  /* Project id 2304431 */
  src: url('//at.alicdn.com/t/c/font_2304431_dognskebhm.woff2?t=1661150018823') format('woff2'),url('//at.alicdn.com/t/c/font_2304431_dognskebhm.woff?t=1661150018823') format('woff'),url('//at.alicdn.com/t/c/font_2304431_dognskebhm.ttf?t=1661150018823') format('truetype')
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-flex-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.ellipsis-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.ellipsis-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 5;
}

.fit-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-top: 0;
  padding-bottom: 0;
}

.no-scroll-x {
  max-width: 100%;
  overflow-x: hidden;
}

.scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 5px solid #bbb;
    background: #fff;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
}

.pointer {
  cursor: pointer;
}


.scrollbar-y {
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: 5px solid #bbb;
    background: #fff;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
}
