.leftCard {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  .leftCardImg {
    width: 245px;
    height: 121px;
  }
}
.leftContent {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.leftContent-title {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 这里是超出几行省略 */
  overflow: hidden;
}

.leftContent-info {
  font-family: Microsoft YaHei;
  font-size: 13px;
  color: #696969;
  margin: 11px 0 25px 0;
}
.leftContent-time {
  font-family: Microsoft YaHei;
  font-size: 12px;
  color: #9fa5b1;
  gap: 20px;
  display: flex;
}
