@media screen and (max-width: 1024px) {
   .page{
    width: 100% !important; 
  }
  .page-user-wrap{
    width: 100vw;
  }
  .page-user-wrap .inner .page-ctx{
    flex-direction: column;
  }
  .page-user-wrap .inner .view-wrap,
  .page-user-wrap .inner .menu-wrap{
    width: 100%;
    min-width: unset;
  }
  .page-user-wrap .inner .view-wrap{
    margin-left: 0;
  }
  .page-user-wrap .inner .page-ctx{
    padding-top: 0;
  }
  .page-user-wrap .inner .menu-wrap .left-title{
    padding: 16px 0;
    font-size: 16px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .group-title-box{
    padding: 10px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .group-title-box .icon-box{
    width: 20px;
    margin-right: 4px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .group-title-box .icon-box img{
    
    height: 16px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .group-title-box .group-title{
    font-size: 14px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .group-title-box .arrow-box .arrow-right{
    width: 8px;
    height: auto;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .group-title-box .arrow-box .arrow-right{
    padding: 10px 0;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .sub-child .sub-item{
    padding: 5px 20px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .sub-child .sub-item .sub-title{
    font-size: 14px;
  }
  .page-user-wrap .inner .menu-wrap .nav-wrap .nav-group .sub-child{
    display: flex;
    flex-wrap: wrap;
  }
  .page-user-wrap .inner .menu-wrap{
    margin-bottom: 20px;
    margin-top: 0;
  }

  .page .page-title{
    padding: 0 10px;
    height: unset;
    line-height: 2.5;
    font-size: 16px;
  }
  .page .page-ctx{
    margin-top: 2px;
  }
  .tab-box .search-box button img{
    width: 18px;
  }
  .page-user-wrap .inner .view-wrap{
    padding-bottom: 0;
  }
  .page-user-wrap .inner .menu-wrap{
    padding-bottom: 20px;
  }
  .page-user-wrap .inner .page-ctx{
    width: 100%;
  }
  .page .page-ctx{
    padding: 10px;
  }
  .order-list-wrap .base-box .order-state,
  .order-list-wrap .base-box .date,
  .order-list-wrap .base-box .order-code{
    padding: 0 10px;
    width: 100%;
    font-size: 12px;
    background: none;
  }
  .order-list-wrap .base-box{
    padding: 10px;
  }
  .order-list-wrap .base-box .order-code{
    padding-left: 0px;
  }
  .order-list-wrap .base-box .order-state{
    padding: 0;
    line-height: 1;
  }
  .order-list-wrap .product-box .product-list .product-item{
    padding: 10px;
    width: 100%;
  }
  .order-list-wrap .product-box .product-list .product-item .box-title{
    font-size: 12px;
    padding-left: 10px;
    font-size: 12px;
    padding-left: 18px;
  }
  .order-list-wrap .product-box .product-list .product-item .box-image,
  .order-list-wrap .product-box .product-list .product-item .box-image/deep/ img{
    width: 80px;
    height: 80px;
  }
  .order-list-wrap .product-box .product-list .product-item .box-title .product-title{
    width: 80px;
  }
  .order-list-wrap .product-box .product-list .product-item .box-title .product-sku{
    display: none;
  }
  .order-list-wrap .product-box .product-list .product-item .box-price,
  .order-list-wrap .product-box .product-list .product-item .box-num,
  .order-list-wrap .product-box .product-list .product-item .box-subtotal{
    font-size: 14px;
    min-width: unset;
    padding: 10px;
  }
  .order-list-wrap{
    margin-top: 20px;
  }
  .order-list-wrap .info-heji .btn-actions button{
    margin: 2px 0;
  }
  .page .page-title{
    margin-bottom: 2px;
  }
  .tab-box .tab-list{
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }
  .tab-box .tab-list .tab-item{
    font-size: 14px;
    margin-right: 0;
    line-height: 1.5;
    padding: 6px 10px;
    height: unset;
  }
  .page-sec{
    margin-top: 4px;
  }
  
  .value-info{
    margin-top: 2px;
  }
  .value-info .value-item .value{
    font-size: 20px;
  }
  .value-info .value-item .text-box .text{
    font-size: 14px;
  }
  .value-info .value-item .text-box .btn{
    width: 60px;
    height: 30px;
    font-size: 14px;
  }
  .value-info .value-item{
    height: 200px;
  }
  .value-info .value-item::before{
    height: 160px;
    top: 20px;
  }
  .tab-box .tab-item{
    padding-top: 20px;
  }
   .bottom-info{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .jilu-list .item .item-2{
    width: 30%;
    text-align: center;
  }
  .jilu-list .item .item-3{
    width: 20%;
    text-align: center;
    margin-top: 0;
  }
  .tab-box .tab-item{
    text-align: center;
  }
  .tab-box .tab-item{
    margin-right: 10px;
  }
  .jilu-list .item .item-5,
  .jilu-list .item .item-6,
  .jilu-list .item .item-7{
    display: none;
  }
  .jilu-list .item .item-4{
    width: 200px;
  }
  .product-box .product-titles .product-check span,
  .product-box .product-titles .product-delete,
  .fav-box .fav-titles .fav-check span,
  .fav-box .fav-titles .fav-delete{
    font-size: 14px;
  }
  .fav-list .fav-item .goods-price{
    width: 60px;
    font-size: 16px;
  }
  .fav-box .fav-list .fav-item .goods-title{
    flex: unset;
    width: 100px;
  }
  .page .page-ctx .item .info .el-input{
    width: 100%;
  }
  .page .page-ctx .item .info .el-input input{
    line-height: 30px;
    height: 30px;
  }
  .btn-box .btn-cancel,
  .btn-box .btn-save{
    width: 100px;
    height: 30px;
    color: #fff;
  }

  .page .main-title{
    height: unset;
    padding-left: 10px;
  }
  .page .ctx-box{
    margin-top: 0;
  }
  .page .ctx-box .list .list-title{
    height: 3rem;
  }
  .page .ctx-box .list .list-title>div{
    font-size: 14px;
  }
  .empty-wrap{
    margin-top: 20px;
  }
  .page .ctx-box .list .item .item-detail .box-image/deep/ img{
    width: 30px;
    height: 30px;
    margin-right: 4px
  }
  .empty-wrap .empty-text{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .empty-wrap .empty-pic-box img{
    width: 100%;
  }
  .empty-wrap .empty-btn .btn{
    width: 260px;
    height: 40px;
    font-size: 14px;
  }
  .page .inner{
    min-height: 20rem;
  }
  .page .ctx-box .list .item .item-detail .box-act div span,
  .page .ctx-box .list .item .item-detail .box-subtotal,
  .page .ctx-box .list .item .item-detail .box-unit-price,
  .page .ctx-box .list .item .item-detail .box-title .goods-title{
    font-size: 14px;
  }
  .page .ctx-box .list .item .item-detail .box-number button{
    width: 18px;
    height: 18px;
  }
  .page .ctx-box .list .item .item-detail .box-number input{
    height: 18px;
    width: 18px;
  }
  .page .ctx-box .list .item .item-detail .box-title{
    // flex: unset;
    // width: 10px;
  }
  .page .ctx-box .list .item .item-detail .box-title .goods-title{
    width: 100%;
  }
  .page .ctx-box .list .item .item-detail .box-select{
    margin-right: 10px;
  }
  .bottom-action-box .all-select{
    min-width: unset;
    padding-left: 10px;
  }
  .bottom-action-box .btn-order,
  .bottom-action-box .total-price,
  .bottom-action-box .total-price b,
  .bottom-action-box .total-number b,
  .bottom-action-box .total-number,
  .bottom-action-box .clear-box span,
  .bottom-action-box .delete-box span{
    font-size: 14px;
  }
  .bottom-action-box .total-price{
    margin: 0;
  }
  .bottom-action-box .btn-order{
    width: 80px;
    height: 30px;
  }
  .bottom-action-box .clear-box{
    margin-left: 10px;
  }
  .bottom-action-box .delete-box {
    width: 120px;
    margin-left: 4px;
  }
  .bottom-action-box .clear-box{
    flex: unset;
    width: 150px;
    margin-left: 4px;
  }
  .bottom-action-box .total-number{
    flex: unset;
    width: 110px;
    margin-left: 4px;
  }
  .bottom-action-box .total-price{
    flex: unset;
    width: 150px;
    margin-left: 4px;
    margin-right: 20px;
  }
  .bottom-action-box{
    height: 80px;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-right: 0;
  }

  .page .page-inner .main-content .ctx-top{
    display: block;
    padding-top: 0;
  }
  .page-top .page-bread .bread-box > a:last-child{
    font-size: 15px;
  }
  .page-top{
    padding: 0;
    margin-top: -20px;
  }
  .page .page-box{
    width: 100%;
  }
  .zhutu-wrap .zhutu-inner,
  .page .page-box .el-carousel,
  .page .page-box .zhutu-wrap{
    width: 100%;
  }
  .page .page-box .zhutu-wrap .zhutu-inner,
  .page .page-box .el-carousel{
    height: 18rem;
  }
  .page .page-box .lunbo-slt-list{
    padding: 0 10px;
  }
  .page .page-box .lunbo-arrow{
    width: 1.8rem;
    height: 1.8rem;
  }
  .page .page-box .lunbo-arrow i{
    font-size: 18px;
  }
  .lunbo-slt-list .lunbo-slt-item{
    width: 5.6rem;
    height: 5.6rem;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list .act-item span{
    font-size: 14px;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list .act-item img{
    width: 1.5rem;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list{
    margin-top: 20px;  
  }
  .page .page-inner .main-content .ctx-top .ctx-right .detail-title .title-text{
    font-size: 20px;  
  }
  .page .page-inner .main-content .ctx-top .ctx-right .detail-desc{
    margin-top: 0;
    margin-bottom: 0 ;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item .vals .val,
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item .label{
    font-size: 16px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info{
    height: unset;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item.price-item,
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item{
    padding: 20px 20px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .other-box{
    padding-left: 0;
    padding: 10px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sku-list .sku-item{
    width: 100px;
    height: 30px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sku-box .sku-label{
    margin-top: 0.4rem;
  }
  .bottom-left .main-title,
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang input,
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .kucun{
    font-size: 14px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang .btn img{
    width: 0.5rem;
    height: auto;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang .btn{
    width: 20px;
    height: 20px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang input{
    width: 20px;
    height: 20px;
    margin: 0;
    border-left: none;
    border-right: none;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .sel-num-title{
    min-width: 9rem;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .btns .btn-ripple{
    font-size: 14px;
    width: 200px;
    height: 30px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .btns{
    margin: 0;
  }
  .page .page-inner .main-content .ctx-bottom-container{
    margin-top: 0px;
  }

  .bottom-left .main-title{
    line-height: 3;
  }
  .page .page-inner .main-content .ctx-bottom-container .bottom-left{
    display: none;
  }
  .page .page-inner{
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .el-input__inner{
    height: 3rem;
    line-height: 3rem;
  }
  /deep/ .el-dialog__header .el-dialog__close{
    font-size: 18px;
    right: 20px;
  }
  /deep/ .el-dialog__header .el-dialog__headerbtn{

    right: 20px;
  }
  /deep/ .el-dialog__body{
    padding: 0 10px;
  }
  /deep/ .modal-custom .modal-inner .item .text{
    min-width: 6.5rem;
  }
  /deep/ .modal-custom .sanji-box{
    width: 100%;
  }
  /deep/ .el-input .el-input__inner{
    padding: 0px 10px;
  }
  /deep/ .el-inputsanji-box .el-input__inner{
    width: 70px ;
  }
  /deep/ .modal-custom .modal-inner .item .el-select{
    margin-right: 10px;
  }
}