@media screen and (max-width: 1024px) {
 
  .page .page-inner .form-box{
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .page .page-inner .input-wrap .tab-box,
  .page .page-inner .input-wrap{
    width: 100%;
  }
  .page .page-inner .input-wrap .title{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .page .page-inner .input-wrap .tab-box .tab-item{
    font-size: 18px;
  }
  .page .page-inner .input-wrap .tab-box .tab-item .active-line{
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .page .page-inner .input-wrap .tab-box{
    margin-bottom: 20px;
  }
  .page .page-inner .input-wrap .input-box{
    height: 2rem;
    margin-bottom: 20px;
  }
  .page .page-inner .input-wrap .input-box span,
  .page .page-inner .input-wrap .input-box input,
  .page .page-inner .input-wrap .input-box input::placeholder{
    font-size: 14px;
  }
  .page .page-inner .form-box{
    height: auto;
    min-height: unset;
    padding: 16px;
  }
  .page .page-inner .input-wrap .btn-box{
    margin-top: 30px;
  }
  .page .page-inner .input-wrap .btn-box button{
    font-size: 15px;
    height: 2.4rem;
  }
  .page .page-bg img{
    min-height: 60vh;
  }
  .layout-box .page{
    padding-bottom: 0;
  }
  .page .page-inner .input-wrap .input-box input{
    width: calc(100% - 60px);
    padding-left: 10px;
  }
  .page .page-inner .input-wrap .input-box span{
    width: 70px;
  }

  .page .page-ctx{
    top: 0rem;
  }
  .page .page-inner{
    display: unset;
  }

  .page .page-inner .input-wrap .input-box .icon-box{
    width: 1.6rem;
    height: auto;
  }
  .page .page-inner .input-wrap .input-box .icon-box .icon-phone,
  .page .page-inner .input-wrap .input-box .icon-box .icon-pass{
    width: auto;
    height: 18px;
  }
  .page .page-inner .input-wrap .input-box input::placeholder{
    font-size: 14px;
    line-height: 1;
  }
  .page .page-inner .input-wrap .pass-act-box{
    margin-top: 1rem;
  }
  
  .page .page-inner .input-wrap .pass-act-box span,
  .page .page-inner .input-wrap .pass-act-box a{
    font-size: 12px;
  }
  .page .page-inner .input-wrap .register-box .log-text{
    font-size: 14px;
    line-height: 1.5;
  }
  .page .page-inner .input-wrap .register-box a,
  .page .page-inner .input-wrap .register-box .log-box img{
    width: 14px;
    margin-right: 4px;
  }
  .page .page-inner .input-wrap  .terms-check img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  .page .page-inner .input-wrap .register-box a,
  .page .page-inner .input-wrap .terms-box .terms-text,
  .page .page-inner .input-wrap .terms-box .terms-check{
    font-size: 12px;
  }
  .page .page-inner .input-wrap .register-box{
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .page .page-inner .input-wrap .register-box a,
  .page .page-inner .input-wrap .terms-box{
    border-radius:  0 0 1rem 1rem;
  }




  
  .beian-box/deep/ a{
    font-size: 14px;
    line-height: 1;
  }
  .footer-wrap .contact-info{
    margin-top: 10px;
  }
  .footer-wrap .contact-info .contact-item{
    font-size: 12px;
  }
  .footer-wrap .beian-box{
    line-height: 20px;
  }
  .footer-wrap .flex-center{
    flex-wrap: wrap;
  }

  .footer-wrap .contact-info .contact-item{
    line-height: 20px;
  }
  .footer-wrap .page-footer .beian-box{
    padding: 16px;
    height: unset !important;
    width: 100%;
  }
  .page-footer{
    min-height: unset;
    padding: 0;
  }
}