@media screen and (max-width: 1024px) {
  
  .page{
    padding-top: 16px;
    width: 100vw;
  }
  .page .main-title{
    height: unset;
    padding-left: 10px;
  }
  .page .ctx-box{
    margin-top: 0;
  }
  .page .ctx-box .list .list-title{
    height: 3rem;
  }
  .page .ctx-box .list .list-title>div{
    font-size: 14px;
  }
  .empty-wrap{
    margin-top: 20px;
  }
  .page .ctx-box .list .item .item-detail .box-image/deep/ img{
    width: 30px;
    height: 30px;
    margin-right: 4px
  }
  .empty-wrap .empty-text{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .empty-wrap .empty-pic-box img{
    width: 100%;
  }
  .empty-wrap .empty-btn .btn{
    width: 260px;
    height: 40px;
    font-size: 14px;
  }
  .page .inner{
    min-height: 20rem;
  }
  .page .ctx-box .list .item .item-detail .box-act div span,
  .page .ctx-box .list .item .item-detail .box-subtotal,
  .page .ctx-box .list .item .item-detail .box-unit-price,
  .page .ctx-box .list .item .item-detail .box-title .goods-title{
    font-size: 14px;
  }
  .page .ctx-box .list .item .item-detail .box-number button{
    width: 18px;
    height: 18px;
  }
  .page .ctx-box .list .item .item-detail .box-number input{
    height: 18px;
    width: 18px;
  }
  .page .ctx-box .list .item .item-detail .box-title{
    // flex: unset;
    // width: 10px;
  }
  .page .ctx-box .list .item .item-detail .box-title .goods-title{
    width: 100%;
  }
  .page .ctx-box .list .item .item-detail .box-select{
    margin-right: 10px;
  }
  .bottom-action-box .all-select{
    min-width: unset;
    padding-left: 10px;
  }
  .bottom-action-box .btn-order,
  .bottom-action-box .total-price,
  .bottom-action-box .total-price b,
  .bottom-action-box .total-number b,
  .bottom-action-box .total-number,
  .bottom-action-box .clear-box span,
  .bottom-action-box .delete-box span{
    font-size: 14px;
  }
  .bottom-action-box .total-price{
    margin: 0;
  }
  .bottom-action-box .btn-order{
    width: 80px;
    height: 30px;
  }
  .bottom-action-box .clear-box{
    margin-left: 10px;
  }
  .bottom-action-box .delete-box {
    width: 120px;
    margin-left: 4px;
  }
  .bottom-action-box .clear-box{
    flex: unset;
    width: 150px;
    margin-left: 4px;
  }
  .bottom-action-box .total-number{
    flex: unset;
    width: 110px;
    margin-left: 4px;
  }
  .bottom-action-box .total-price{
    flex: unset;
    width: 150px;
    margin-left: 4px;
    margin-right: 20px;
  }
  .bottom-action-box{
    height: 80px;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-right: 0;
    align-items: center;
  }

  .page .page-inner .main-content .ctx-top{
    display: block;
    padding-top: 0;
  }
  .page-top .page-bread .bread-box > a:last-child{
    font-size: 15px;
  }
  .page-top{
    padding: 0;
    margin-top: -20px;
  }
  .page .page-box{
    width: 100%;
  }
  .zhutu-wrap .zhutu-inner,
  .page .page-box .el-carousel,
  .page .page-box .zhutu-wrap{
    width: 100%;
  }
  .page .page-box .zhutu-wrap .zhutu-inner,
  .page .page-box .el-carousel{
    height: 18rem;
  }
  .page .page-box .lunbo-slt-list{
    padding: 0 10px;
  }
  .page .page-box .lunbo-arrow{
    width: 1.8rem;
    height: 1.8rem;
  }
  .page .page-box .lunbo-arrow i{
    font-size: 18px;
  }
  .lunbo-slt-list .lunbo-slt-item{
    width: 5.6rem;
    height: 5.6rem;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list{
    flex-wrap: wrap;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list .act-item span{
    font-size: 14px;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list .act-item{
    width: 50%;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list .act-item img{
    width: 1.5rem;
  }
  .page .page-inner .main-content .ctx-top .ctx-left .detail-act-list{
    margin-top: 20px;  
  }
  .page .page-inner .main-content .ctx-top .ctx-right .detail-title .title-text{
    font-size: 20px;  
  }
  .page .page-inner .main-content .ctx-top .ctx-right .detail-desc{
    margin-top: 0;
    margin-bottom: 0 ;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item .vals .val,
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item .label{
    font-size: 16px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info{
    height: unset;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item.price-item,
  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item{
    padding: 20px 20px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .other-box{
    padding-left: 0;
    padding: 10px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sku-list .sku-item{
    width: 100px;
    height: 30px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .sku-box .sku-label{
    margin-top: 0.4rem;
  }
  .bottom-left .main-title,
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang input,
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .kucun{
    font-size: 14px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang .btn img{
    width: 0.5rem;
    height: auto;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang .btn{
    width: 20px;
    height: 20px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .shuliang input{
    width: 20px;
    height: 20px;
    margin: 0;
    border-left: none;
    border-right: none;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .shuliang-box .sel-num-title{
    min-width: 9rem;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .btns .btn-ripple{
    font-size: 14px;
    width: 200px;
    height: 30px;
  }
  .page .page-inner .main-content .ctx-top .ctx-right .btns{
    margin: 0;
  }
  .page .page-inner .main-content .ctx-bottom-container{
    margin-top: 0px;
  }

  .bottom-left .main-title{
    line-height: 3;
  }
  .page .page-inner .main-content .ctx-bottom-container .bottom-left{
    display: none;
  }
  .page .page-inner{
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .panel-review .panel-title{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
  .panel-review{
    padding: 20px;
  }
  .panel-review .review-gailan .review-total{
    font-size: 30px;
  }
  .panel-review .review-gailan .star-box{
    margin-left: 10px;  
  }
  .panel-review .review-gailan{
    align-items: center;
    padding: 10px 20px;
  }
  .panel-review .el-rate{
    height: auto;
  }
  .panel-review .el-empty{
    padding: 0;
  }
  .page .page-title{
    padding: 10px;
    height: 3rem;
    font-size: 14px;
  }
  .page .page-title button{
    min-width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
  .step-box .step-item .step-number .step-num[data-v-1248982a] {
    width: 35px;
    height: 35px;
    line-height: 35px;  
    font-size: 17px;
  }
  .base-ctx .base-title{
    height: 3rem;
    line-height: 3rem;
    font-size: 16px;
    padding-left: 10px;
  }
  .base-ctx .base-items{
    padding: 10px;
    display: block;
  }
  .base-ctx .base-items .base-item{
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }
  .base-ctx .base-items .base-item .info-title,
  .base-ctx .base-items .base-item .info-content{
    font-size: 14px;
  }
  .base-ctx .base-items .base-item{
    width: 100%;
  }
  .order-info .order-list-wrap .info-title{
    font-size: 14px;
  }
  .order-info .order-list-wrap .info-title{
    height: 4.8rem;
    padding: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
  }
  .order-info .order-list-wrap .info-title .order-state,
  .order-info .order-list-wrap .info-title{
    font-size: 12px;
  }
  .order-info .order-list-wrap .info-title .order-code{
    padding: 0 10px;
  }
  .order-info .order-list-wrap .info-title .date{
    width: 90px;
  }
  .order-info .order-list-wrap .info-good .list-good .item-good{
    padding: 10px;
    width: 100%;
  }
  .order-info .order-list-wrap .info-good .list-good .item-good .box-image,
  .order-info .order-list-wrap .info-good .list-good .item-good .box-image/deep/ img{
    width: 80px;
    height: 80px;
  }
  .order-info .order-list-wrap .info-good .list-good .item-good .box-title{
    width: 100px;
    flex:unset;
    padding-left: 10px;
    margin-right: 10px;  
  }
  .order-info .order-list-wrap .info-good .list-good .item-good .box-title .sku{
    display: none;
  }
  .order-info .order-list-wrap .info-good .list-good .item-good .box-title .title{
    width: 100px;
  }
  .order-info .order-list-wrap .info-good .list-good .item-good .box-unit-price,
  .order-info .order-list-wrap .info-good .list-good .item-good .box-num,
  .order-info .order-list-wrap .info-good .list-good .item-good .box-price{
    width: 50px;
    min-width: unset;
    font-size: 14px;
  }
  .order-info .order-action-box .btn-box button,
  .order-info .info-heji .money-box .money-item .value,
  .order-info .info-heji .money-box .money-item .label,
  .order-info .info-heji .money-box .money-item .value b,
  .order-info .info-heji .money-box .money-item .value{
    font-size: 14px;
    line-height: 1.5;
  }
  .order-info .info-heji .money-box .money-item .value{
    min-width: 0;
  }
  .order-info .info-heji .money-box .money-item .money-num.money-total{
    font-size: 16px;  
  }
  .order-info .order-action-box .btn-box button{
    width: 160px;
    height: 40px;
    min-width: unset;
  }
  .order-info .info-heji{
    padding: 10px;
  }
  .order-info .info-heji .money-box .money-item{
    margin-bottom: 6px;
  }
  .step-box .step-item .step-number .step-line{
    width: 40px;
  }
  .el-dialog__wrapper .el-dialog{
    width: 100vw !important;
  }

  .page .page-inner .main-content .ctx-top .ctx-right .sale-info .list .item .vals .val .market{
    display: block;
    font-size: 14px;
    margin: 0;
  }
}