@media screen and (max-width: 1024px) {
  .page{
    width: 100vw;
    // padding: 0 20px;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .layout-box{
    width: 100vw;
  }
  .banner-box{
    .lunbo-left{
      width: 100%;
      height: auto;
      .cate-v1.flex-between{
        flex-direction: row;
      }
      .cate-wrap .cate-group-list .cate-group{
        padding: 10px 16px;
        padding-left: 40px;
      }
      .cate-wrap .cate-group-list .cate-group .cate-v1 .v1-title{
        font-size: 16px;
      }
      .cate-wrap .cate-group-list .cate-group .cate-v1 .v1-arrow img{
        width: 6.25px;
        height: 11.2px;
      }
      .cate-wrap .cate-group-list .cate-group .cate-v2-box .v2-title{
        margin-right: 10px;
        font-size: 14px;
        line-height: 20px;
      }
      .cate-wrap .cate-group-list .cate-group .cate-v2-box{
        margin-top: 6px;
      }
      .cate-wrap .cate-group-list .cate-group .cate-v1 .v1-icon-box{
        position: absolute;
        left: -25px;
      }
      .cate-wrap .cate-group-list .cate-group .cate-v1 .v1-icon-box img{
        width: 18px;
        height: 18px;
      }
    }
    .flex-between{
      width: 100%;
      flex-direction: column-reverse;
    }
    .lunbo-float{
      // display: none !important;
    }
    .lunbo-right{
      width: 100%;
      display: none;
    }
    .lunbo-center{
      width: 100%;
      height: 8rem !important;
      flex: unset !important;
      
      ul li{
        padding: 12px 4px !important;
      }
    }
  }

  .content-box{
    padding-top: 10px;
  }
  .content-box{
    width: 100%;
    .hot-sec{
      height: auto;
    }
    .hot-sec .title-box .title-left .icon{
      width: 16px;
    }
    .hot-sec .title-box .title-left .sec-title{
      font-size: 16px;
      margin: 0 4px;
    }
    .hot-sec .title-box .title-left .sec-desc{
      font-size: 12px;
    }
    .hot-sec .title-box{
      padding: 4px 10px;
    }
    .hot-sec .product-list{
      margin-top: 0;
    }
    .hot-sec .product-list .product-item{
      margin-right: 0;
      padding: 16px 10px;
    }
    .hot-sec .product-list .product-item .info-box{
      padding-top: 10px;
    }
    .hot-sec .product-list .product-item .info-box .title{
      font-size: 14px;
      line-height: 1.5;
    }
    .hot-sec .product-list .product-item .info-box .title-box{
      height: auto;
    }
    .hot-sec .product-list .product-item .poster-box{
      width: 100%;
    }
    .hot-sec .product-list .product-item .info-box .price .huobi{
      font-size: 15px;
    }
    .hot-sec .product-list .product-item .info-box .price .price-value{
      font-size: 16px;
    }
    .hot-sec .product-list .product-item .info-box .price{
      margin-top: 10px;
    }
    // .hot-sec .hot-lunbo[data-v-a83bd3b0] .el-carousel__container,
    .hot-sec .hot-lunbo{
      height: auto !important;
    }
    .hot-sec .product-list .product-item{
      width: 100%;
      height: 100%;
    }
    .hot-sec .hot-lunbo /deep/ .el-carousel__indicator--horizontal{
      padding: 0.2rem;
    }
    .hot-sec .hot-lunbo /deep/ .el-carousel--horizontal{
      border-radius: 10px;
    }
    .hot-sec .hot-lunbo /deep/ .el-carousel__container {
      height: 24.5rem;
    }
    .hot-tags/deep/{
      display: unset;
      .el-carousel__container {
        height: 12.2rem;
      }
      .tag-box .product-list/deep/{
        margin-top: 0;
      }
      .tag-wrap .tag-title .title-1,
      .tag-wrap .tag-title .title-2{
        font-size: 16px;
      }
      .tag-wrap{
        width: 100%;
        margin-top: 10px;
        padding: 16px;
        padding-bottom: 0;
        height: auto;
        .tag-title{
          margin-bottom: 16px;
        }
        .tag-title .desc{
          font-size: 12px;
          margin-left: 6px;
        }
        .tag-box .tag-lunbo .product-lunbo{
          padding: 12px;
          .product-item .info-box{
            padding-left: 10px;
            .title-box{
              height: 1.5rem;
            }
            .title{
              font-size: 14px;
              line-height: 1.5;
            }
            .price{
              font-size: 14px;
              margin-top: 30px;
            }
            .product-item .poster-box/deep/{
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
    .group-panel{
      margin-top: 20px;
      .sec-cate{
        margin-bottom: 16px;
      }
      .sec-cate .sec-title-box{
        margin-bottom: 10px;
        .sec-title{
          font-size: 16px;
        }
        .sec-more{
          align-items: center;
        }
        .sec-more .text{
          font-size: 14px;
          line-height: 1;
        }
        .sec-more .arrow{
          width: 16px;
          height: 16px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .title-left .sec-line{
          width: 4px;
          height: 20px;
          margin: auto;
          margin-right: 16px;
        }
      }
      .sec-cate .cate-ctx{
        width: 100vw;
        display: unset;
        .cate-left{
          width: 100%;
          height: 10rem;
        }
        .cate-left .bg-box{
          width: 100%;
          height: 100%;
        }
        .cate-left .bg-box /deep/.el-carousel__container{
          height: 100%;
        }
        .cate-right .product-list{
          // display: unset;
        }
        .product-list .product-item{
          padding: 0px;
          width: calc(50% - 5px);
          height: auto;
          margin-right: 10px;
          margin-top: 10px;
          border: 1px solid #e6e6e6;
        }
        .product-list .product-item:nth-child(2n){
          margin-right: 0;
        }
        .product-list .product-item .poster-box{
          width: 100%;
          padding: 10px;
          padding-bottom: 0;
          height: auto;
        }
        .product-list .product-item .info-box{
          padding-top: 0;
        }
        .product-list .product-item .info-box .title-box{
          height: 28px;
        }
        .product-list .product-item .info-box .title-box .title{
          font-size: 14px;
        }
        .product-list .product-item .info-box .price{
          font-size: 14px;
        }
      }
      
    }
    .suggest-box{
      margin-top: 20px;
    }
    .suggest-box .suggest-title{
      margin-bottom: 10px;
    }
    .suggest-box .suggest-title img{
      width: 16px;
      margin: 0 6px;
    }
    .suggest-box .suggest-title span{
      font-size: 16px;
    }
    .suggest-box .suggest-list{
      width: calc(100vw - 32px);
      margin: 0 auto;
    }
    .suggest-box .suggest-list .product-list .product-item .poster-box/deep/{
      width: 50%;
      height: auto;
    }
    .suggest-box .suggest-list .product-list .product-item/deep/{
      width: 100%;
      margin-right: 0;
      height: auto;
      margin-bottom: 10px;
    }
    .suggest-box .suggest-list .product-list .product-item/deep/{
      padding: 16px;
    }
    .suggest-box .suggest-list .product-list .product-item .info-box/deep/{
      padding-top: 16px;
    }
    .suggest-box .suggest-list .product-list .product-item .info-box .title-box{
      height: auto;
    }
    .suggest-box .suggest-list .product-list .product-item .info-box .title-box .title/deep/{
      line-height: 1.3;
    }
    .suggest-box .suggest-list .product-list .product-item .info-box .title-box .title/deep/,
    .suggest-box .suggest-list .product-list .product-item .info-box/deep/ .pirce-num{
      font-size: 14px;
      text-align: center;
    }
    .suggest-box .suggest-list .product-list .product-item .info-box .price/deep/{
      margin-top: 4px;
      justify-content: center;
    }

  }


  .page-footer{
    padding: 0;
  }
  .footer-wrap{
    width: 100vw;
  }
  .footer-tip .footer-icons .icon-item .info-box{
    padding-left: 10px;
  }
  .footer-tip .footer-icons .icon-item .info-box .title/deep/{
    font-size: 14px;
    margin-bottom: 4px;
  }
  .footer-tip .footer-icons .icon-item .info-box .desc/deep/{
    font-size: 12px;
  }
  .footer-tip .footer-icons .icon-item .icon-box img{
    width: 20px;
    height: auto;
  }
  .footer-tip .footer-icons{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-tip .footer-icons .icon-item{
    flex: unset;
    width: calc(50% - 10px);
    margin-bottom: 0;
  }
  .web-footer{
    padding: 0;
  }
  .page-footer .web-footer .link-wrap{
    margin-top: 16px;
    padding: 0 16px;
  }
  .page-footer .web-footer .link-wrap .link-group .group-title{
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 0;
  }
  .page-footer .web-footer .link-wrap .link-group .link-item{
    line-height: 1.3;
  }
  .page-footer .web-footer .link-wrap .link-group .link-item a{
    font-size: 12px;
    line-height: 1.3;
  }
  .link-info .site-info .info-box{
    margin-right: 16px;
  }
  .link-info .site-info .info-box .phone-icon-box img{
    width: 18px;
  }
  .link-info .site-info .info-box .text-box .time-text,
  .link-info .site-info .info-box .text-box .time,
  .link-info .site-info .info-box .text-box .mobile-text{
    font-size: 14px;
  }
  .link-info .site-info .info-box .text-box .mobile{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .link-info .site-info .info-box .text-box .time{
    margin-top: 8px;
  }
  .link-info/deep/{
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
    padding: 10px 16px;
  }
  .link-info .site-info{
    width: 100%;
    justify-content: space-between;
  }
  .link-info .site-info .icon-box{
    margin-right: 10px;
  }
  .link-info .site-info .icon-box img{
    width: 80px;
    height: 80px;
  }
  .link-info .site-info .icon-box .icon-title{
    text-align: 14px;
    color: #000;
    margin-top: 8px;
    text-align: center;
  }
  .beian-box{
    padding: 16px;
    height: unset;
  }
  .beian-box/deep/ a{
    font-size: 14px;
    line-height: 1;
  }
  .footer-wrap .contact-info{
    margin-top: 10px;
  }
  .footer-wrap .contact-info .contact-item{
    font-size: 12px;
  }
  .footer-wrap .beian-box{
    line-height: 20px;
  }
  .footer-wrap .flex-center{
    flex-wrap: wrap;
  }

  .footer-wrap .contact-info .contact-item{
    line-height: 20px;
  }


  .banner-wrap{
    width: 100vw;
    height: 8rem;
  }
  .page .banner-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .page .inner{
    width: 100vw;
    padding: 0 16px;
    padding-bottom: 20px;
  }
  .page .inner .pagination-box{
    margin-top: 0px !important;
  }
  .page .inner .page-ctx{
    width: 100%;
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .product-list .product-item{
    margin-right: 0 !important;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .product-list .product-item .img-box{
    width: 100%;
    height: auto;
    padding-bottom: 0px;
  }
  .product-list .product-item .img-box img{
    width: 50%;
    height: auto;
  }
  .product-list .product-item .info-box{
    padding: 10px 0;
  }
  .product-list .product-item .info-box .title-box{
    height: auto;
  }
  .product-list .product-item .info-box .title,
  .product-list .product-item .info-box .price-box .sale .value{
    font-size: 14px;
    line-height: 1.3;
  }
  .product-list .product-item .info-box .price-box .sale .huobi{
    font-size: 13px;
  }
  .product-list .product-item .info-box .price-box{
    margin-top: 0px;
    justify-content: center;
    height: auto;
  }

  .chongzhi-wrap{
    margin-top: -3rem;
    width: 100%;
    padding: 16px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-title{
    font-size: 16px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items .item{
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items .item .item-info span{
    font-size: 14px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items .item .item-info .text{
    font-size: 14px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items .item .item-info .value{
    font-size: 17px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items .item .item-info .song{
    font-size: 15px;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items .item{
    width: 8rem;
    height: 4rem;
  }
  .chongzhi-wrap .chongzhi-box .chongzhi-items{
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .chongzhi-wrap .chongzhi-box .pay-title{
    font-size: 16px;
    padding-bottom: 10px;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values .pay-items .item{
    margin-right: 0;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values .pay-items .item .title,
  .chongzhi-wrap .chongzhi-box .pay-type .label{
    font-size: 14px;
    display: inline-block;
    width: 70px;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values .pay-items .item .check-box{
    margin-right: 5px;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values .pay-items .item .check-box img{
    width: 16px;
    height: auto;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values .pay-items .item .icon-box{
    margin-right: 5px;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values .pay-items .item .icon-box img{
    width: 26px;
    height: auto;
  }
  .chongzhi-wrap .chongzhi-box .pay-type .values{
    margin-left: 8px;
  }
  .chongzhi-wrap .chongzhi-box .pay-type{
    margin-top: 10px;
  }
  .chongzhi-wrap .chongzhi-box .btn-box{
    margin-top: 20px;
  }
  .chongzhi-wrap .chongzhi-box .btn-box .btn{
    width: 300px;
    height: 40px;
    font-size: 16px;
  }
  .page-inner.page-inner{
    width: 90%;
    .page-poster{
      margin-left: 0;
    }
  }
  .page .page-inner .form-box{
    width: 100%;
    padding: 0;
  }
  .page .page-inner .input-wrap .tab-box,
  .page .page-inner .input-wrap{
    width: 100%;
  }
  .page .page-inner .input-wrap .title{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .page .page-inner .input-wrap .tab-box .tab-item{
    font-size: 15px;
  }
  .page .page-inner .input-wrap .tab-box .tab-item .active-line{
    width: auto;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .page .page-inner .input-wrap .tab-box{
    margin-bottom: 20px;
  }
  .page .page-inner .input-wrap .input-box{
    height: 2rem;
    margin-bottom: 20px;
  }
  .page .page-inner .input-wrap .input-box span,
  .page .page-inner .input-wrap .input-box input::placeholder{
    font-size: 14px;
  }
  .page .page-inner .form-box{
    padding: 0 16px;
  }
  .page .page-inner .input-wrap .btn-box{
    margin-top: 30px;
  }
  .page .page-inner .input-wrap .btn-box button{
    font-size: 15px;
    height: 2.4rem;
  }
  .page .page-bg img{
    min-height: 60vh;
  }
  .layout-box .page{
    padding-bottom: 0;
  }
  .page .page-inner .input-wrap .input-box input{
    width: calc(100% - 60px);
    padding-left: 10px;
  }
  .page .page-inner .input-wrap .input-box span{
    width: 60px;
  }


  .page .inner .page-ctx .ctx-box{
    display: unset;
  }
  .page .inner .page-ctx .ctx-box .ctx-left{
    margin-right: 0;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .news-ctx{
    padding: 10px;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .news-ctx .news-title{
    font-size: 16px;
    line-height: 2;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .news-ctx .news-desc{
    font-size: 12px;
    margin-top: 0px;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .news-ctx .news-line{
    margin: 10px 0;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .news-ctx .news-html{
    padding: 10px 0;font-size: 14px;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .news-ctx .news-html p{
    font-size: 14px;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .nav-box{
    padding-top: 20px;
    margin-top: 20px;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .nav-box .nav-item a,
  .page .inner .page-ctx .ctx-box .ctx-left .nav-box .nav-item{
    font-size: 14px;
  }
  .page .inner .page-ctx .ctx-box .ctx-left .nav-box .nav-item{
    margin-bottom: 10px;
  }
  .page .inner .page-ctx .ctx-box .ctx-right{
    width: 100%;
    margin-top: 16px;
  }

  .page .inner .page-ctx .ctx-box .ctx-right .box-item{
    margin-bottom: 10px;
    padding: 10px;
  }
  .page .inner .page-ctx .ctx-box .ctx-right .right-title{
    font-size: 16px;
  }
  .page .inner .page-ctx .ctx-box .ctx-right .right-title .marker{
    width: 6px;
    height: 20px;
    margin-right: 6px;
  }
  .page .inner .page-ctx .ctx-box .cate-wrap .cate-box{
    margin-top: 16px;
  }
  .page .inner .page-ctx .ctx-box .cate-wrap .group-title{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .page .inner .page-ctx .ctx-box .cate-list .child-item{
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .page .page-inner .input-wrap .input-box input{
    font-size: 14px;
  }
}