@media screen and (max-width: 1199px) {
  .plus {
    color: #00306B;
    font-weight: bold;
  }
  .minus {
    color: #52c41a;
    font-weight: bold;
  }
  .goods-info {
    display: flex;
    align-items: center;
  }
  .goods-info .img-box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .page {
    text-align: left;
    padding-bottom: 80px;
  }
  .page .main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    text-align: left;
    height: 56px;
    line-height: 56px;
    background: #ffffff;
    font-size: 16px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #333333;
  }
  .page .main-title button {
    min-width: 96px;
    height: 30px;
    line-height: 30px;
    background: #00306B;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  .page .page-ctx {
    margin-top: 24px;
    padding: 32px 32px 55px 32px;
    padding: 15px;
    background: #fff;
  }
  .yue-box {
    position: relative;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    padding: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
  }
  .yue-box .text-box {
    text-align: left;
  }
  .yue-box .text-box .text-1 {
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
  }
  .yue-box .text-box .text-2 {
    margin-top: 10px;
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
  }
  .yue-box .text-box .text-2 .currency {
    font-size: 18px;
  }
  .yue-box .text-box .text-3 {
    position: absolute;
    right: 24px;
    bottom: 20px;
  }
  .yue-box .text-box .text-3 button {
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    background: rgba(255, 255, 255, 0.78);
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666;
  }
  .tab-box {
    margin-top: 24px;
    flex: 2;
    display: flex;
    align-items: center;
  }
  .tab-box .tab-item {
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    margin-right: 55px;
    font-size: 14px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #333333;
  }
  .tab-box .tab-item.active {
    border-bottom: 3px solid #00306B;
    font-weight: bold;
    color: #00306B;
  }
  .bottom-info {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .jilu-list {
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
  }
  .jilu-list .item {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #1F1F1F;
  }
  .jilu-list .item.item-title {
    display: none;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
    color: #1F1F1F;
  }
  .jilu-list .item .item-1 {
    text-align: left;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .jilu-list .item .item-1 .info-box {
    padding-left: 15px;
  }
  .jilu-list .item .item-1 .info-box .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
  }
  .jilu-list .item .item-1 .info-box .info {
    font-size: 12px;
    font-family: Microsoft YaHei-Regular, Microsoft YaHei;
    font-weight: 400;
    color: #505050;
  }
  .jilu-list .item .item-2 {
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: right;
  }
  .jilu-list .item .item-2.val {
    font-size: 14px;
    font-family: Microsoft YaHei-Bold, Microsoft YaHei;
    font-weight: bold;
  }
  .jilu-list .item .item-3 {
    width: 200px;
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }
  .jilu-list .item .item-4 {
    width: 150px;
  }
}
