.researchReport {
}
.researchReportTop {
}
.industrialActivitiesBottom {
  display: flex;
  flex-direction: column;
  background: #f3f8ff;
  align-items: center;
  .pagination {
    padding-bottom: 24px;
  }
  .bottomContent {
    width: 1200px;
    .activeContent {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 33.33%);
    }
  }
}
