@media (max-width: 1199px) {
    .about-page{
        margin-top: 0;
        padding-bottom: 5rem;
        .about-header{
            height: 20rem;
            background-size: cover;
            // background-position: 50% 100%;
            h2{
                font-size: 2.8rem;
            }
            p{
                font-size: 1.8rem;
            }
        }
        .about-section{
            width: 100%;
             height: auto;
             padding:0 15px 40px;
            .about-content{
                width: 100%;
                .title{
                    h3{
                        font-size: 2.6rem;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: 1.4rem;
                        line-height: 3rem;
                    }
                }
                .about-img{
                    max-width: 100%;
                    height: auto;
                }
                .info{
                    width: 100%;
                    padding:0;
                    margin-top: 40px;
                    flex-wrap: wrap;
                    .info-item{
                        width: 50%;
                        flex: 0 0 50%;
                        margin-bottom: 15px;
                        .info-value{
                            span{
                                font-size: 3rem;
                            }
                        }
                    }
                }
            }
        }
        .partner-section{
            width: 100%;
            margin-top: 40px;
            padding:0 15px;
            .partner-content{
                width: 100%;
                h3{
                    font-size: 2.6rem;
                }
                p{
                    font-size: 1.4rem;
                    margin-bottom: 30px;
                }
                .partner-list{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .partner-item{
                        width: 48%;
                        height: 10rem;
                        margin-bottom: 15px;
                        margin-right: 4%;
                        &:nth-child(2n){
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        // 联系我们
        .contact-section{
            width: 100%;
            padding:0 15px;
            margin-top: 40px;
            .contact-content{
                flex-wrap: wrap;
                .contact-item{
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }
}