@media (max-width: 1199px) {
    .news-page,
    .news-detail-page
    {
        margin-top: 0;
        .w-1600{
            width: 100%;
            .breadcrumb-section{
                padding:0 15px;
            }
            .news-content{
                width: 100%;
                flex-direction: column;
                .news-main{
                    width: 100%;
                    padding:30px 15px;
                    .article-list{
                        .article-title{
                            font-size: 1.6rem;
                        }
                    }
                }
                .news-sidebar{
                    width: 100%;
                    .sidebar-section{
                        padding:30px 15px;
                        .sidebar-title{
                            font-size: 2.2rem;
                            span{
                                font-size: 2.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}