.head-nav {
  height: 80px;
  display: flex;
  align-items: center;
}

.left-logo-img {
  width: 165px;
}
.head-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-box {
  width: 1400px;
}
.page-head {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  line-height: 0;
  padding: 0;
  // border-bottom: 4px solid #009a44;
  // box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.16);
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(36, 44, 94, 0.1);
  .right-box {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .right-box-icon {
      cursor: pointer;
      width: 28px;
      height: 28px;
      background: #ffffff;
      box-sizing: border-box;
      border: 0.5px solid rgba(115, 114, 114, 0.4);
      border-radius: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 16px 0 16px;
      i {
        color: #000;
      }
    }
    .btn-login {
      color: #005aac;
    }
    .btn-register {
      background: #005aac;
      color: #fff;
    }
    .user-box {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 134px;
        height: 58px;
        background: transparent;
      }

      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }

      .user-dropdown {
        position: absolute;
        top: 58px; // 根据实际头像高度调整
        right: 0;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 100;
        width: 134px;
        height: 122px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
        .dropdown-item {
          padding: 12px 0;
          text-align: center;
          color: #3d3d3d;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            color: #005aac;
          }
        }
      }
    }
    .user-name {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      margin: 0 16px 0 16px;
      cursor: pointer;
    }

    .inter-login {
      width: 120px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      background: #33AE60;
      cursor: pointer;
      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      span {
        font-family: Microsoft YaHei;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
    }
  }
}

.header-inner {
  position: relative;
  width: 1400px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-wrap {
    display: flex;
    align-items: center;

    .logo-box {
      cursor: pointer;

      img {
        width: 141px;
        height: 82px;
      }
    }
  }

  .nav-wrap {
    flex: 1;
    margin-left: 60px;
    margin-right: 92px;
  }

  .nav-list {
    height: 100%;

    .nav-item {
      text-align: center;

      &.nav-item-static {
        position: static;
      }

      .nav-link {
        position: relative;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-family: Poppins, Poppins;
        font-weight: 600;
        font-size: 17px;
        color: #333333;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
          width: 0;
          height: 2px;
          background: #009f39;
          transition: 0.3s;
        }
      }

      &:hover {
        .nav-link::after {
          width: 36px;
        }
      }

      &.active {
        .nav-link {
          // font-weight: bold;
          color: #009f39;
        }
      }

      a {
        color: #222;
        width: 100%;
        font-size: 16px;
        font-family: Microsoft YaHei-Regular, Microsoft YaHei;
        font-weight: 400;
        color: #333;
      }
    }
  }
}
.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-box {
  display: flex;
  align-items: center;
  text-align: center;

  img {
    width: 14px;
    margin-right: 5px;
  }
}

.user-act {
  width: 440px;
  width: fit-content;
}

.nav-box {
  transition: 0.5s;
  // width: 100%;
  flex: 2;
  display: flex;
  justify-content: flex-start;
  margin-left: 66px;
  .nav-item {
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    color: #fff;
    height: 47px;
    line-height: 47px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -48px;
      width: 144px;
      height: 58px;
      background: transparent;
    }

    &:nth-child(n + 2) {
      margin-left: 40px;
    }
    .nav-item-icon {
      width: 12px;
      height: 12px;
      color: #3d3d3d;
    }
    .nav-title {
      font-size: 18px;
      color: #1e1e1e;
      position: relative;

      &.active {
        color: #33ae60;
        font-weight: bold;
      }

      &.router-link-exact-active {
        color: #33ae60;
        font-weight: bold;
        &::before {
          content: "";
          position: absolute;
          top: 30px;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
          width: 36px;
          height: 2px;
          background: #33ae60;
          transition: 0.3s;
        }
      }
    }

    .text:hover {
      color: #33ae60;
      font-weight: bold;
    }

    .nav-dropdown {
      position: absolute;
      top: 64px; // 根据实际头像高度调整
      right: 0;
      background: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      z-index: 100;
      width: 134px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 14px 0;
      .nav-dropdown-item {
        width: 100%;
        text-align: center;
        color: #1e1e1e;
        font-size: 16px;

        a {
          display: block;
          color: #1e1e1e;
          font-size: 16px;
          &:hover {
            color: #33ae60;
          }
        }
      }
    }
  }
}

.info-right {
  display: flex;
  align-items: center;

  .log-box {
    display: flex;
    align-items: center;
  }

  a {
    color: #fff;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .user-login {
    width: 30px;
    height: 30px;
  }

  .user-reg {
    margin: 0 16px;
    width: 30px;
    height: 30px;
  }

  .cart-image {
    width: 30px;
    height: 30px;
  }

  .shopcart {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }

    .cart-num {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -10px;
      top: -10px;
      min-width: 18px;
      min-height: 18px;
      padding: 0 3px;
      background: #ff3b30;
      border: 1px solid #ffffff;
      border-radius: 50%;
      font-size: 12px;
    }
  }
}

.user-login-info {
  position: absolute;
  right: 0;
  top: 12px;

  .avatar-box {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .phone {
    margin: 0 16px;
    font-family: Arial, Arial;
    font-weight: 400;
    font-size: 16px;
    color: #999999;

    &:hover {
      color: #009f39;
    }
  }

  .logout {
    font-family: Arial, Arial;
    font-weight: 400;
    font-size: 16px;
    color: #999999;

    &:hover {
      color: #009f39;
    }
  }
}
