@media (max-width: 1199px) {
    .page-footer{
        padding:4rem 15px 0;
        .w-1600{
            width: 100%;
        }
        .footer-content{
            gap: 30px;
            .contact-section{
                .phone-number-large{
                    font-size: 2rem;
                }
            }
            .nav-sections{
                padding:0;
                gap: 0rem;
                flex-wrap: wrap;
                .nav-section{
                    flex: 0 0 50%;
                    margin-bottom: 20px;
                }
            }
        }
        .footer-bottom{
            .copyright{
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}