.topSearch {
  height: 292px;
  width: 100vw;
  background-image: url('~@img/ellsenn/topSearchBg.png');
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topSearchWrap {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topSearchLeft {
  display: flex;
  flex-direction: column;
  .topSearchLogoImg {
    width: 225.6px;
    height: 34.03px;
  }
  .topSearchText {
    margin-top: 18px;
    font-family: Microsoft YaHei;
    font-size: 26px;
    font-weight: 290;
    color: #005aac;
  }
}
.topSearchRight {
  width: 640px;
  display: flex;
  flex-direction: column;
  .topSearchRightSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    /deep/ .el-input__inner {
      height: 56px;
      width: 640px;
      font-size: 16px;
    }
    .topSearchRightSearchBtn {
      width: 100px;
      height: 44px;
      background: #005aac;
      margin-left: -106px;
      z-index: 2;
    }
  }
  .tagGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    .tagGroupText {
      font-family: Microsoft YaHei;
      font-size: 14px;
      color: #4b5e77;
    }
    .tagItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      background: rgba(0, 0, 0, 0.2);
      font-family: Microsoft YaHei;
      font-size: 13px;
      color: #ffffff;
      padding: 3px 10px;
      margin-right: 16px;
    }
  }
}
