.tabTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0;
  font-size: 18px;
  line-height: 24px;
  color: #005bac;
  .divider {
    background-color: #005bac;
    width: 3px;
    height: 21px;
    margin-right: 14px;
  }
}
