.company-clients {
  padding: 40px 0px;
  width: 1200px;
  margin: 0 auto;

  .content {
    position: relative;
    h2 {
      font-size: 24px;
      color: #005aac;
      margin-bottom: 90px;
      text-align: center;
      font-weight: bold;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        width: 330px;
        height: 1px;
        background: #005aac;
      }
    }

    .clients-list {
      display: flex;
      flex-wrap: wrap;
      gap: 31px;
      .client-item {
        z-index: 2;
        width: 215px;
        height: 107px;
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.06);
        box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.08);
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .company-clients-img {
      position: absolute;
      top: 56px;
      left: -65px;
      width: 150px;
      height: 150px;
      z-index: 0;
    }
  }
}
