.company-history {
  padding: 80px 0;
  background: #fff;
  width: 1200px;
  margin: 0 auto;

  .content {
    padding: 0 40px;

    .main-title {
      font-size: 24px;
      font-weight: bold;
      color: #3d3d3d;
      text-align: center;
      margin-bottom: 80px;
      position: relative;
      span {
        color: #005aac;
      }
      &:after {
        content: "";
        display: block;
        width: 332px;
        height: 1px;
        background: #005aac;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .timeline {
      position: relative;

      // 中央垂直线
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #c9d1dc;
        transform: translateX(-50%);
        z-index: 1;
      }

      .timeline-item {
        position: relative;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        // 时间轴圆点
        .timeline-dot {
          position: absolute;
          left: 50%;
          top: 25px;
          border-radius: 50%;
          background-color: #fff;
          transform: translate(-50%, -50%);
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;

          width: 50px;
          height: 50px;

          .inner-circle {
            width: 50px * 0.5;
            height: 50px * 0.5;
            background-color: #d8d8d8;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .outer-ring {
            width: 50px;
            height: 50px;
            border: 2px solid transparent;
            border-right-color: #c9d1dc;
            border-top-color: #c9d1dc;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(45deg); // 开口朝左
          }
        }

        .timeline-content {
          position: relative;
          width: 100%;

          .content-box {
            display: flex;

            .image-section {
              width: 400px;
              height: 225px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
              }
            }

            .text-section {
              width: 560px;

              .year {
                font-size: 46px;
                font-weight: 500;
                color: #000;
                margin-bottom: 20px;
              }

              .date-item {
                display: flex;
                margin-bottom: 12px;

                &:last-child {
                  margin-bottom: 0;
                }

                .date {
                  font-weight: 500;
                  color: #000;
                  font-size: 16px;
                  width: 60px;
                }

                .text {
                  font-size: 16px;
                  color: #9a9a9a;
                }
              }
            }
          }
        }

        &:hover {
          .timeline-dot {
            .inner-circle {
              background-color: #005aac;
            }
            .outer-ring {
              border-right-color: #005aac;
              border-top-color: #005aac;
            }
          }
          .date {
            color: #005aac !important;
          }
          .year {
            color: #005aac !important;
          }
        }

        // 右侧项目
        &.right {
          justify-content: flex-start;

          .timeline-content {
            .text-section {
              padding-right: 42px;
              .year {
                text-align: right;
              }
              .date-item {
                justify-content: flex-end;
                .date {
                  text-align: right;
                  margin-left: 10px;
                }
                .text {
                  text-align: right;
                }
              }
            }
            .image-section {
              margin-left: 75px;
            }
          }
        }

        // 左侧项目 (2024, 2022)
        &.left {
          justify-content: flex-end;
          .timeline-dot {
            .outer-ring {
              transform: rotate(-135deg);
            }
          }
          .timeline-content {
            .content-box {
              justify-content: flex-end;
            }
            .text-section {
              padding-left: 42px;
              .year {
                text-align: left;
              }
              .date-item {
                justify-content: flex-start;
                .date {
                  text-align: left;
                  margin-right: 10px;
                }
                .text {
                  text-align: left;
                }
              }
            }
            .image-section {
              margin-right: 75px;
            }
          }
        }
      }
    }
  }
}
