// 期望生成
// margin margin-left  margin-right  margin-top margin-bottom
// padding padding-left  padding-right  padding-top padding-bottom
// --------------------------------------------------------
//   外边距 margin 开始

.m1 {
  margin: var(--unit-1);
}
.m2 {
  margin: var(--unit-2);
}
.m3 {
  margin: var(--unit-3);
}
.m4 {
  margin: var(--unit-4);
}
.m5 {
  margin: var(--unit-5);
}
.m6 {
  margin: var(--unit-6);
}
.m7 {
  margin: var(--unit-7);
}
.m8 {
  margin: var(--unit-8);
}
.m9 {
  margin: var(--unit-9);
}
.m10 {
  margin: var(--unit-10);
}
.m11 {
  margin: var(--unit-11);
}
.m12 {
  margin: var(--unit-12);
}
.m13 {
  margin: var(--unit-13);
}
.m14 {
  margin: var(--unit-14);
}
.m15 {
  margin: var(--unit-15);
}
.m16 {
  margin: var(--unit-16);
}
.m17 {
  margin: var(--unit-17);
}
.m18 {
  margin: var(--unit-18);
}
.m19 {
  margin: var(--unit-19);
}
.m20 {
  margin: var(--unit-20);
}
.m21 {
  margin: var(--unit-21);
}
.m22 {
  margin: var(--unit-22);
}
.m23 {
  margin: var(--unit-23);
}
.m24 {
  margin: var(--unit-24);
}
.m25 {
  margin: var(--unit-25);
}
.m26 {
  margin: var(--unit-26);
}
.m27 {
  margin: var(--unit-27);
}
.m28 {
  margin: var(--unit-28);
}
.m29 {
  margin: var(--unit-29);
}
.m30 {
  margin: var(--unit-30);
}
.m31 {
  margin: var(--unit-31);
}
.m32 {
  margin: var(--unit-32);
}
.m33 {
  margin: var(--unit-33);
}
.m34 {
  margin: var(--unit-34);
}
.m35 {
  margin: var(--unit-35);
}
.m36 {
  margin: var(--unit-36);
}
.m37 {
  margin: var(--unit-37);
}
.m38 {
  margin: var(--unit-38);
}
.m39 {
  margin: var(--unit-39);
}
.m40 {
  margin: var(--unit-40);
}
.m41 {
  margin: var(--unit-41);
}
.m42 {
  margin: var(--unit-42);
}
.m43 {
  margin: var(--unit-43);
}
.m44 {
  margin: var(--unit-44);
}
.m45 {
  margin: var(--unit-45);
}
.m46 {
  margin: var(--unit-46);
}
.m47 {
  margin: var(--unit-47);
}
.m48 {
  margin: var(--unit-48);
}
.m49 {
  margin: var(--unit-49);
}
.m50 {
  margin: var(--unit-50);
}
.m51 {
  margin: var(--unit-51);
}
.m52 {
  margin: var(--unit-52);
}
.m53 {
  margin: var(--unit-53);
}
.m54 {
  margin: var(--unit-54);
}
.m55 {
  margin: var(--unit-55);
}
.m56 {
  margin: var(--unit-56);
}
.m57 {
  margin: var(--unit-57);
}
.m58 {
  margin: var(--unit-58);
}
.m59 {
  margin: var(--unit-59);
}
.m60 {
  margin: var(--unit-60);
}
.m61 {
  margin: var(--unit-61);
}
.m62 {
  margin: var(--unit-62);
}
.m63 {
  margin: var(--unit-63);
}
.m64 {
  margin: var(--unit-64);
}
.m65 {
  margin: var(--unit-65);
}
.m66 {
  margin: var(--unit-66);
}
.m67 {
  margin: var(--unit-67);
}
.m68 {
  margin: var(--unit-68);
}
.m69 {
  margin: var(--unit-69);
}
.m70 {
  margin: var(--unit-70);
}
.m71 {
  margin: var(--unit-71);
}
.m72 {
  margin: var(--unit-72);
}
.m73 {
  margin: var(--unit-73);
}
.m74 {
  margin: var(--unit-74);
}
.m75 {
  margin: var(--unit-75);
}
.m76 {
  margin: var(--unit-76);
}
.m77 {
  margin: var(--unit-77);
}
.m78 {
  margin: var(--unit-78);
}
.m79 {
  margin: var(--unit-79);
}
.m80 {
  margin: var(--unit-80);
}
.m81 {
  margin: var(--unit-81);
}
.m82 {
  margin: var(--unit-82);
}
.m83 {
  margin: var(--unit-83);
}
.m84 {
  margin: var(--unit-84);
}
.m85 {
  margin: var(--unit-85);
}
.m86 {
  margin: var(--unit-86);
}
.m87 {
  margin: var(--unit-87);
}
.m88 {
  margin: var(--unit-88);
}
.m89 {
  margin: var(--unit-89);
}
.m90 {
  margin: var(--unit-90);
}
.m91 {
  margin: var(--unit-91);
}
.m92 {
  margin: var(--unit-92);
}
.m93 {
  margin: var(--unit-93);
}
.m94 {
  margin: var(--unit-94);
}
.m95 {
  margin: var(--unit-95);
}
.m96 {
  margin: var(--unit-96);
}
.m97 {
  margin: var(--unit-97);
}
.m98 {
  margin: var(--unit-98);
}
.m99 {
  margin: var(--unit-99);
}
.m100 {
  margin: var(--unit-100);
}
//   外边距 margin
// --------------------------------------------------------

// --------------------------------------------------------
// 内边距 padding 开始

.p1 {
  padding: var(--unit-1);
}
.p2 {
  padding: var(--unit-2);
}
.p3 {
  padding: var(--unit-3);
}
.p4 {
  padding: var(--unit-4);
}
.p5 {
  padding: var(--unit-5);
}
.p6 {
  padding: var(--unit-6);
}
.p7 {
  padding: var(--unit-7);
}
.p8 {
  padding: var(--unit-8);
}
.p9 {
  padding: var(--unit-9);
}
.p10 {
  padding: var(--unit-10);
}
.p11 {
  padding: var(--unit-11);
}
.p12 {
  padding: var(--unit-12);
}
.p13 {
  padding: var(--unit-13);
}
.p14 {
  padding: var(--unit-14);
}
.p15 {
  padding: var(--unit-15);
}
.p16 {
  padding: var(--unit-16);
}
.p17 {
  padding: var(--unit-17);
}
.p18 {
  padding: var(--unit-18);
}
.p19 {
  padding: var(--unit-19);
}
.p20 {
  padding: var(--unit-20);
}
.p21 {
  padding: var(--unit-21);
}
.p22 {
  padding: var(--unit-22);
}
.p23 {
  padding: var(--unit-23);
}
.p24 {
  padding: var(--unit-24);
}
.p25 {
  padding: var(--unit-25);
}
.p26 {
  padding: var(--unit-26);
}
.p27 {
  padding: var(--unit-27);
}
.p28 {
  padding: var(--unit-28);
}
.p29 {
  padding: var(--unit-29);
}
.p30 {
  padding: var(--unit-30);
}
.p31 {
  padding: var(--unit-31);
}
.p32 {
  padding: var(--unit-32);
}
.p33 {
  padding: var(--unit-33);
}
.p34 {
  padding: var(--unit-34);
}
.p35 {
  padding: var(--unit-35);
}
.p36 {
  padding: var(--unit-36);
}
.p37 {
  padding: var(--unit-37);
}
.p38 {
  padding: var(--unit-38);
}
.p39 {
  padding: var(--unit-39);
}
.p40 {
  padding: var(--unit-40);
}
.p41 {
  padding: var(--unit-41);
}
.p42 {
  padding: var(--unit-42);
}
.p43 {
  padding: var(--unit-43);
}
.p44 {
  padding: var(--unit-44);
}
.p45 {
  padding: var(--unit-45);
}
.p46 {
  padding: var(--unit-46);
}
.p47 {
  padding: var(--unit-47);
}
.p48 {
  padding: var(--unit-48);
}
.p49 {
  padding: var(--unit-49);
}
.p50 {
  padding: var(--unit-50);
}
.p51 {
  padding: var(--unit-51);
}
.p52 {
  padding: var(--unit-52);
}
.p53 {
  padding: var(--unit-53);
}
.p54 {
  padding: var(--unit-54);
}
.p55 {
  padding: var(--unit-55);
}
.p56 {
  padding: var(--unit-56);
}
.p57 {
  padding: var(--unit-57);
}
.p58 {
  padding: var(--unit-58);
}
.p59 {
  padding: var(--unit-59);
}
.p60 {
  padding: var(--unit-60);
}
.p61 {
  padding: var(--unit-61);
}
.p62 {
  padding: var(--unit-62);
}
.p63 {
  padding: var(--unit-63);
}
.p64 {
  padding: var(--unit-64);
}
.p65 {
  padding: var(--unit-65);
}
.p66 {
  padding: var(--unit-66);
}
.p67 {
  padding: var(--unit-67);
}
.p68 {
  padding: var(--unit-68);
}
.p69 {
  padding: var(--unit-69);
}
.p70 {
  padding: var(--unit-70);
}
.p71 {
  padding: var(--unit-71);
}
.p72 {
  padding: var(--unit-72);
}
.p73 {
  padding: var(--unit-73);
}
.p74 {
  padding: var(--unit-74);
}
.p75 {
  padding: var(--unit-75);
}
.p76 {
  padding: var(--unit-76);
}
.p77 {
  padding: var(--unit-77);
}
.p78 {
  padding: var(--unit-78);
}
.p79 {
  padding: var(--unit-79);
}
.p80 {
  padding: var(--unit-80);
}
.p81 {
  padding: var(--unit-81);
}
.p82 {
  padding: var(--unit-82);
}
.p83 {
  padding: var(--unit-83);
}
.p84 {
  padding: var(--unit-84);
}
.p85 {
  padding: var(--unit-85);
}
.p86 {
  padding: var(--unit-86);
}
.p87 {
  padding: var(--unit-87);
}
.p88 {
  padding: var(--unit-88);
}
.p89 {
  padding: var(--unit-89);
}
.p90 {
  padding: var(--unit-90);
}
.p91 {
  padding: var(--unit-91);
}
.p92 {
  padding: var(--unit-92);
}
.p93 {
  padding: var(--unit-93);
}
.p94 {
  padding: var(--unit-94);
}
.p95 {
  padding: var(--unit-95);
}
.p96 {
  padding: var(--unit-96);
}
.p97 {
  padding: var(--unit-97);
}
.p98 {
  padding: var(--unit-98);
}
.p99 {
  padding: var(--unit-99);
}
.p100 {
  padding: var(--unit-100);
}

//内边距 padding 结束
// --------------------------------------------------------

.ml1 {
  margin-left: var(--unit-1);
}
.ml2 {
  margin-left: var(--unit-2);
}
.ml3 {
  margin-left: var(--unit-3);
}
.ml4 {
  margin-left: var(--unit-4);
}
.ml5 {
  margin-left: var(--unit-5);
}
.ml6 {
  margin-left: var(--unit-6);
}
.ml7 {
  margin-left: var(--unit-7);
}
.ml8 {
  margin-left: var(--unit-8);
}
.ml9 {
  margin-left: var(--unit-9);
}
.ml10 {
  margin-left: var(--unit-10);
}
.ml11 {
  margin-left: var(--unit-11);
}
.ml12 {
  margin-left: var(--unit-12);
}
.ml13 {
  margin-left: var(--unit-13);
}
.ml14 {
  margin-left: var(--unit-14);
}
.ml15 {
  margin-left: var(--unit-15);
}
.ml16 {
  margin-left: var(--unit-16);
}
.ml17 {
  margin-left: var(--unit-17);
}
.ml18 {
  margin-left: var(--unit-18);
}
.ml19 {
  margin-left: var(--unit-19);
}
.ml20 {
  margin-left: var(--unit-20);
}
.ml21 {
  margin-left: var(--unit-21);
}
.ml22 {
  margin-left: var(--unit-22);
}
.ml23 {
  margin-left: var(--unit-23);
}
.ml24 {
  margin-left: var(--unit-24);
}
.ml25 {
  margin-left: var(--unit-25);
}
.ml26 {
  margin-left: var(--unit-26);
}
.ml27 {
  margin-left: var(--unit-27);
}
.ml28 {
  margin-left: var(--unit-28);
}
.ml29 {
  margin-left: var(--unit-29);
}
.ml30 {
  margin-left: var(--unit-30);
}
.ml31 {
  margin-left: var(--unit-31);
}
.ml32 {
  margin-left: var(--unit-32);
}
.ml33 {
  margin-left: var(--unit-33);
}
.ml34 {
  margin-left: var(--unit-34);
}
.ml35 {
  margin-left: var(--unit-35);
}
.ml36 {
  margin-left: var(--unit-36);
}
.ml37 {
  margin-left: var(--unit-37);
}
.ml38 {
  margin-left: var(--unit-38);
}
.ml39 {
  margin-left: var(--unit-39);
}
.ml40 {
  margin-left: var(--unit-40);
}
.ml41 {
  margin-left: var(--unit-41);
}
.ml42 {
  margin-left: var(--unit-42);
}
.ml43 {
  margin-left: var(--unit-43);
}
.ml44 {
  margin-left: var(--unit-44);
}
.ml45 {
  margin-left: var(--unit-45);
}
.ml46 {
  margin-left: var(--unit-46);
}
.ml47 {
  margin-left: var(--unit-47);
}
.ml48 {
  margin-left: var(--unit-48);
}
.ml49 {
  margin-left: var(--unit-49);
}
.ml50 {
  margin-left: var(--unit-50);
}
.ml51 {
  margin-left: var(--unit-51);
}
.ml52 {
  margin-left: var(--unit-52);
}
.ml53 {
  margin-left: var(--unit-53);
}
.ml54 {
  margin-left: var(--unit-54);
}
.ml55 {
  margin-left: var(--unit-55);
}
.ml56 {
  margin-left: var(--unit-56);
}
.ml57 {
  margin-left: var(--unit-57);
}
.ml58 {
  margin-left: var(--unit-58);
}
.ml59 {
  margin-left: var(--unit-59);
}
.ml60 {
  margin-left: var(--unit-60);
}
.ml61 {
  margin-left: var(--unit-61);
}
.ml62 {
  margin-left: var(--unit-62);
}
.ml63 {
  margin-left: var(--unit-63);
}
.ml64 {
  margin-left: var(--unit-64);
}
.ml65 {
  margin-left: var(--unit-65);
}
.ml66 {
  margin-left: var(--unit-66);
}
.ml67 {
  margin-left: var(--unit-67);
}
.ml68 {
  margin-left: var(--unit-68);
}
.ml69 {
  margin-left: var(--unit-69);
}
.ml70 {
  margin-left: var(--unit-70);
}
.ml71 {
  margin-left: var(--unit-71);
}
.ml72 {
  margin-left: var(--unit-72);
}
.ml73 {
  margin-left: var(--unit-73);
}
.ml74 {
  margin-left: var(--unit-74);
}
.ml75 {
  margin-left: var(--unit-75);
}
.ml76 {
  margin-left: var(--unit-76);
}
.ml77 {
  margin-left: var(--unit-77);
}
.ml78 {
  margin-left: var(--unit-78);
}
.ml79 {
  margin-left: var(--unit-79);
}
.ml80 {
  margin-left: var(--unit-80);
}
.ml81 {
  margin-left: var(--unit-81);
}
.ml82 {
  margin-left: var(--unit-82);
}
.ml83 {
  margin-left: var(--unit-83);
}
.ml84 {
  margin-left: var(--unit-84);
}
.ml85 {
  margin-left: var(--unit-85);
}
.ml86 {
  margin-left: var(--unit-86);
}
.ml87 {
  margin-left: var(--unit-87);
}
.ml88 {
  margin-left: var(--unit-88);
}
.ml89 {
  margin-left: var(--unit-89);
}
.ml90 {
  margin-left: var(--unit-90);
}
.ml91 {
  margin-left: var(--unit-91);
}
.ml92 {
  margin-left: var(--unit-92);
}
.ml93 {
  margin-left: var(--unit-93);
}
.ml94 {
  margin-left: var(--unit-94);
}
.ml95 {
  margin-left: var(--unit-95);
}
.ml96 {
  margin-left: var(--unit-96);
}
.ml97 {
  margin-left: var(--unit-97);
}
.ml98 {
  margin-left: var(--unit-98);
}
.ml99 {
  margin-left: var(--unit-99);
}
.ml100 {
  margin-left: var(--unit-100);
}

.mr1 {
  margin-right: var(--unit-1);
}
.mr2 {
  margin-right: var(--unit-2);
}
.mr3 {
  margin-right: var(--unit-3);
}
.mr4 {
  margin-right: var(--unit-4);
}
.mr5 {
  margin-right: var(--unit-5);
}
.mr6 {
  margin-right: var(--unit-6);
}
.mr7 {
  margin-right: var(--unit-7);
}
.mr8 {
  margin-right: var(--unit-8);
}
.mr9 {
  margin-right: var(--unit-9);
}
.mr10 {
  margin-right: var(--unit-10);
}
.mr11 {
  margin-right: var(--unit-11);
}
.mr12 {
  margin-right: var(--unit-12);
}
.mr13 {
  margin-right: var(--unit-13);
}
.mr14 {
  margin-right: var(--unit-14);
}
.mr15 {
  margin-right: var(--unit-15);
}
.mr16 {
  margin-right: var(--unit-16);
}
.mr17 {
  margin-right: var(--unit-17);
}
.mr18 {
  margin-right: var(--unit-18);
}
.mr19 {
  margin-right: var(--unit-19);
}
.mr20 {
  margin-right: var(--unit-20);
}
.mr21 {
  margin-right: var(--unit-21);
}
.mr22 {
  margin-right: var(--unit-22);
}
.mr23 {
  margin-right: var(--unit-23);
}
.mr24 {
  margin-right: var(--unit-24);
}
.mr25 {
  margin-right: var(--unit-25);
}
.mr26 {
  margin-right: var(--unit-26);
}
.mr27 {
  margin-right: var(--unit-27);
}
.mr28 {
  margin-right: var(--unit-28);
}
.mr29 {
  margin-right: var(--unit-29);
}
.mr30 {
  margin-right: var(--unit-30);
}
.mr31 {
  margin-right: var(--unit-31);
}
.mr32 {
  margin-right: var(--unit-32);
}
.mr33 {
  margin-right: var(--unit-33);
}
.mr34 {
  margin-right: var(--unit-34);
}
.mr35 {
  margin-right: var(--unit-35);
}
.mr36 {
  margin-right: var(--unit-36);
}
.mr37 {
  margin-right: var(--unit-37);
}
.mr38 {
  margin-right: var(--unit-38);
}
.mr39 {
  margin-right: var(--unit-39);
}
.mr40 {
  margin-right: var(--unit-40);
}
.mr41 {
  margin-right: var(--unit-41);
}
.mr42 {
  margin-right: var(--unit-42);
}
.mr43 {
  margin-right: var(--unit-43);
}
.mr44 {
  margin-right: var(--unit-44);
}
.mr45 {
  margin-right: var(--unit-45);
}
.mr46 {
  margin-right: var(--unit-46);
}
.mr47 {
  margin-right: var(--unit-47);
}
.mr48 {
  margin-right: var(--unit-48);
}
.mr49 {
  margin-right: var(--unit-49);
}
.mr50 {
  margin-right: var(--unit-50);
}
.mr51 {
  margin-right: var(--unit-51);
}
.mr52 {
  margin-right: var(--unit-52);
}
.mr53 {
  margin-right: var(--unit-53);
}
.mr54 {
  margin-right: var(--unit-54);
}
.mr55 {
  margin-right: var(--unit-55);
}
.mr56 {
  margin-right: var(--unit-56);
}
.mr57 {
  margin-right: var(--unit-57);
}
.mr58 {
  margin-right: var(--unit-58);
}
.mr59 {
  margin-right: var(--unit-59);
}
.mr60 {
  margin-right: var(--unit-60);
}
.mr61 {
  margin-right: var(--unit-61);
}
.mr62 {
  margin-right: var(--unit-62);
}
.mr63 {
  margin-right: var(--unit-63);
}
.mr64 {
  margin-right: var(--unit-64);
}
.mr65 {
  margin-right: var(--unit-65);
}
.mr66 {
  margin-right: var(--unit-66);
}
.mr67 {
  margin-right: var(--unit-67);
}
.mr68 {
  margin-right: var(--unit-68);
}
.mr69 {
  margin-right: var(--unit-69);
}
.mr70 {
  margin-right: var(--unit-70);
}
.mr71 {
  margin-right: var(--unit-71);
}
.mr72 {
  margin-right: var(--unit-72);
}
.mr73 {
  margin-right: var(--unit-73);
}
.mr74 {
  margin-right: var(--unit-74);
}
.mr75 {
  margin-right: var(--unit-75);
}
.mr76 {
  margin-right: var(--unit-76);
}
.mr77 {
  margin-right: var(--unit-77);
}
.mr78 {
  margin-right: var(--unit-78);
}
.mr79 {
  margin-right: var(--unit-79);
}
.mr80 {
  margin-right: var(--unit-80);
}
.mr81 {
  margin-right: var(--unit-81);
}
.mr82 {
  margin-right: var(--unit-82);
}
.mr83 {
  margin-right: var(--unit-83);
}
.mr84 {
  margin-right: var(--unit-84);
}
.mr85 {
  margin-right: var(--unit-85);
}
.mr86 {
  margin-right: var(--unit-86);
}
.mr87 {
  margin-right: var(--unit-87);
}
.mr88 {
  margin-right: var(--unit-88);
}
.mr89 {
  margin-right: var(--unit-89);
}
.mr90 {
  margin-right: var(--unit-90);
}
.mr91 {
  margin-right: var(--unit-91);
}
.mr92 {
  margin-right: var(--unit-92);
}
.mr93 {
  margin-right: var(--unit-93);
}
.mr94 {
  margin-right: var(--unit-94);
}
.mr95 {
  margin-right: var(--unit-95);
}
.mr96 {
  margin-right: var(--unit-96);
}
.mr97 {
  margin-right: var(--unit-97);
}
.mr98 {
  margin-right: var(--unit-98);
}
.mr99 {
  margin-right: var(--unit-99);
}
.mr100 {
  margin-right: var(--unit-100);
}

.mb1 {
  margin-bottom: var(--unit-1);
}
.mb2 {
  margin-bottom: var(--unit-2);
}
.mb3 {
  margin-bottom: var(--unit-3);
}
.mb4 {
  margin-bottom: var(--unit-4);
}
.mb5 {
  margin-bottom: var(--unit-5);
}
.mb6 {
  margin-bottom: var(--unit-6);
}
.mb7 {
  margin-bottom: var(--unit-7);
}
.mb8 {
  margin-bottom: var(--unit-8);
}
.mb9 {
  margin-bottom: var(--unit-9);
}
.mb10 {
  margin-bottom: var(--unit-10);
}
.mb11 {
  margin-bottom: var(--unit-11);
}
.mb12 {
  margin-bottom: var(--unit-12);
}
.mb13 {
  margin-bottom: var(--unit-13);
}
.mb14 {
  margin-bottom: var(--unit-14);
}
.mb15 {
  margin-bottom: var(--unit-15);
}
.mb16 {
  margin-bottom: var(--unit-16);
}
.mb17 {
  margin-bottom: var(--unit-17);
}
.mb18 {
  margin-bottom: var(--unit-18);
}
.mb19 {
  margin-bottom: var(--unit-19);
}
.mb20 {
  margin-bottom: var(--unit-20);
}
.mb21 {
  margin-bottom: var(--unit-21);
}
.mb22 {
  margin-bottom: var(--unit-22);
}
.mb23 {
  margin-bottom: var(--unit-23);
}
.mb24 {
  margin-bottom: var(--unit-24);
}
.mb25 {
  margin-bottom: var(--unit-25);
}
.mb26 {
  margin-bottom: var(--unit-26);
}
.mb27 {
  margin-bottom: var(--unit-27);
}
.mb28 {
  margin-bottom: var(--unit-28);
}
.mb29 {
  margin-bottom: var(--unit-29);
}
.mb30 {
  margin-bottom: var(--unit-30);
}
.mb31 {
  margin-bottom: var(--unit-31);
}
.mb32 {
  margin-bottom: var(--unit-32);
}
.mb33 {
  margin-bottom: var(--unit-33);
}
.mb34 {
  margin-bottom: var(--unit-34);
}
.mb35 {
  margin-bottom: var(--unit-35);
}
.mb36 {
  margin-bottom: var(--unit-36);
}
.mb37 {
  margin-bottom: var(--unit-37);
}
.mb38 {
  margin-bottom: var(--unit-38);
}
.mb39 {
  margin-bottom: var(--unit-39);
}
.mb40 {
  margin-bottom: var(--unit-40);
}
.mb41 {
  margin-bottom: var(--unit-41);
}
.mb42 {
  margin-bottom: var(--unit-42);
}
.mb43 {
  margin-bottom: var(--unit-43);
}
.mb44 {
  margin-bottom: var(--unit-44);
}
.mb45 {
  margin-bottom: var(--unit-45);
}
.mb46 {
  margin-bottom: var(--unit-46);
}
.mb47 {
  margin-bottom: var(--unit-47);
}
.mb48 {
  margin-bottom: var(--unit-48);
}
.mb49 {
  margin-bottom: var(--unit-49);
}
.mb50 {
  margin-bottom: var(--unit-50);
}
.mb51 {
  margin-bottom: var(--unit-51);
}
.mb52 {
  margin-bottom: var(--unit-52);
}
.mb53 {
  margin-bottom: var(--unit-53);
}
.mb54 {
  margin-bottom: var(--unit-54);
}
.mb55 {
  margin-bottom: var(--unit-55);
}
.mb56 {
  margin-bottom: var(--unit-56);
}
.mb57 {
  margin-bottom: var(--unit-57);
}
.mb58 {
  margin-bottom: var(--unit-58);
}
.mb59 {
  margin-bottom: var(--unit-59);
}
.mb60 {
  margin-bottom: var(--unit-60);
}
.mb61 {
  margin-bottom: var(--unit-61);
}
.mb62 {
  margin-bottom: var(--unit-62);
}
.mb63 {
  margin-bottom: var(--unit-63);
}
.mb64 {
  margin-bottom: var(--unit-64);
}
.mb65 {
  margin-bottom: var(--unit-65);
}
.mb66 {
  margin-bottom: var(--unit-66);
}
.mb67 {
  margin-bottom: var(--unit-67);
}
.mb68 {
  margin-bottom: var(--unit-68);
}
.mb69 {
  margin-bottom: var(--unit-69);
}
.mb70 {
  margin-bottom: var(--unit-70);
}
.mb71 {
  margin-bottom: var(--unit-71);
}
.mb72 {
  margin-bottom: var(--unit-72);
}
.mb73 {
  margin-bottom: var(--unit-73);
}
.mb74 {
  margin-bottom: var(--unit-74);
}
.mb75 {
  margin-bottom: var(--unit-75);
}
.mb76 {
  margin-bottom: var(--unit-76);
}
.mb77 {
  margin-bottom: var(--unit-77);
}
.mb78 {
  margin-bottom: var(--unit-78);
}
.mb79 {
  margin-bottom: var(--unit-79);
}
.mb80 {
  margin-bottom: var(--unit-80);
}
.mb81 {
  margin-bottom: var(--unit-81);
}
.mb82 {
  margin-bottom: var(--unit-82);
}
.mb83 {
  margin-bottom: var(--unit-83);
}
.mb84 {
  margin-bottom: var(--unit-84);
}
.mb85 {
  margin-bottom: var(--unit-85);
}
.mb86 {
  margin-bottom: var(--unit-86);
}
.mb87 {
  margin-bottom: var(--unit-87);
}
.mb88 {
  margin-bottom: var(--unit-88);
}
.mb89 {
  margin-bottom: var(--unit-89);
}
.mb90 {
  margin-bottom: var(--unit-90);
}
.mb91 {
  margin-bottom: var(--unit-91);
}
.mb92 {
  margin-bottom: var(--unit-92);
}
.mb93 {
  margin-bottom: var(--unit-93);
}
.mb94 {
  margin-bottom: var(--unit-94);
}
.mb95 {
  margin-bottom: var(--unit-95);
}
.mb96 {
  margin-bottom: var(--unit-96);
}
.mb97 {
  margin-bottom: var(--unit-97);
}
.mb98 {
  margin-bottom: var(--unit-98);
}
.mb99 {
  margin-bottom: var(--unit-99);
}
.mb100 {
  margin-bottom: var(--unit-100);
}

.ml1 {
  margin-left: var(--unit-1);
}
.ml2 {
  margin-left: var(--unit-2);
}
.ml3 {
  margin-left: var(--unit-3);
}
.ml4 {
  margin-left: var(--unit-4);
}
.ml5 {
  margin-left: var(--unit-5);
}
.ml6 {
  margin-left: var(--unit-6);
}
.ml7 {
  margin-left: var(--unit-7);
}
.ml8 {
  margin-left: var(--unit-8);
}
.ml9 {
  margin-left: var(--unit-9);
}
.ml10 {
  margin-left: var(--unit-10);
}
.ml11 {
  margin-left: var(--unit-11);
}
.ml12 {
  margin-left: var(--unit-12);
}
.ml13 {
  margin-left: var(--unit-13);
}
.ml14 {
  margin-left: var(--unit-14);
}
.ml15 {
  margin-left: var(--unit-15);
}
.ml16 {
  margin-left: var(--unit-16);
}
.ml17 {
  margin-left: var(--unit-17);
}
.ml18 {
  margin-left: var(--unit-18);
}
.ml19 {
  margin-left: var(--unit-19);
}
.ml20 {
  margin-left: var(--unit-20);
}
.ml21 {
  margin-left: var(--unit-21);
}
.ml22 {
  margin-left: var(--unit-22);
}
.ml23 {
  margin-left: var(--unit-23);
}
.ml24 {
  margin-left: var(--unit-24);
}
.ml25 {
  margin-left: var(--unit-25);
}
.ml26 {
  margin-left: var(--unit-26);
}
.ml27 {
  margin-left: var(--unit-27);
}
.ml28 {
  margin-left: var(--unit-28);
}
.ml29 {
  margin-left: var(--unit-29);
}
.ml30 {
  margin-left: var(--unit-30);
}
.ml31 {
  margin-left: var(--unit-31);
}
.ml32 {
  margin-left: var(--unit-32);
}
.ml33 {
  margin-left: var(--unit-33);
}
.ml34 {
  margin-left: var(--unit-34);
}
.ml35 {
  margin-left: var(--unit-35);
}
.ml36 {
  margin-left: var(--unit-36);
}
.ml37 {
  margin-left: var(--unit-37);
}
.ml38 {
  margin-left: var(--unit-38);
}
.ml39 {
  margin-left: var(--unit-39);
}
.ml40 {
  margin-left: var(--unit-40);
}
.ml41 {
  margin-left: var(--unit-41);
}
.ml42 {
  margin-left: var(--unit-42);
}
.ml43 {
  margin-left: var(--unit-43);
}
.ml44 {
  margin-left: var(--unit-44);
}
.ml45 {
  margin-left: var(--unit-45);
}
.ml46 {
  margin-left: var(--unit-46);
}
.ml47 {
  margin-left: var(--unit-47);
}
.ml48 {
  margin-left: var(--unit-48);
}
.ml49 {
  margin-left: var(--unit-49);
}
.ml50 {
  margin-left: var(--unit-50);
}
.ml51 {
  margin-left: var(--unit-51);
}
.ml52 {
  margin-left: var(--unit-52);
}
.ml53 {
  margin-left: var(--unit-53);
}
.ml54 {
  margin-left: var(--unit-54);
}
.ml55 {
  margin-left: var(--unit-55);
}
.ml56 {
  margin-left: var(--unit-56);
}
.ml57 {
  margin-left: var(--unit-57);
}
.ml58 {
  margin-left: var(--unit-58);
}
.ml59 {
  margin-left: var(--unit-59);
}
.ml60 {
  margin-left: var(--unit-60);
}
.ml61 {
  margin-left: var(--unit-61);
}
.ml62 {
  margin-left: var(--unit-62);
}
.ml63 {
  margin-left: var(--unit-63);
}
.ml64 {
  margin-left: var(--unit-64);
}
.ml65 {
  margin-left: var(--unit-65);
}
.ml66 {
  margin-left: var(--unit-66);
}
.ml67 {
  margin-left: var(--unit-67);
}
.ml68 {
  margin-left: var(--unit-68);
}
.ml69 {
  margin-left: var(--unit-69);
}
.ml70 {
  margin-left: var(--unit-70);
}
.ml71 {
  margin-left: var(--unit-71);
}
.ml72 {
  margin-left: var(--unit-72);
}
.ml73 {
  margin-left: var(--unit-73);
}
.ml74 {
  margin-left: var(--unit-74);
}
.ml75 {
  margin-left: var(--unit-75);
}
.ml76 {
  margin-left: var(--unit-76);
}
.ml77 {
  margin-left: var(--unit-77);
}
.ml78 {
  margin-left: var(--unit-78);
}
.ml79 {
  margin-left: var(--unit-79);
}
.ml80 {
  margin-left: var(--unit-80);
}
.ml81 {
  margin-left: var(--unit-81);
}
.ml82 {
  margin-left: var(--unit-82);
}
.ml83 {
  margin-left: var(--unit-83);
}
.ml84 {
  margin-left: var(--unit-84);
}
.ml85 {
  margin-left: var(--unit-85);
}
.ml86 {
  margin-left: var(--unit-86);
}
.ml87 {
  margin-left: var(--unit-87);
}
.ml88 {
  margin-left: var(--unit-88);
}
.ml89 {
  margin-left: var(--unit-89);
}
.ml90 {
  margin-left: var(--unit-90);
}
.ml91 {
  margin-left: var(--unit-91);
}
.ml92 {
  margin-left: var(--unit-92);
}
.ml93 {
  margin-left: var(--unit-93);
}
.ml94 {
  margin-left: var(--unit-94);
}
.ml95 {
  margin-left: var(--unit-95);
}
.ml96 {
  margin-left: var(--unit-96);
}
.ml97 {
  margin-left: var(--unit-97);
}
.ml98 {
  margin-left: var(--unit-98);
}
.ml99 {
  margin-left: var(--unit-99);
}
.ml100 {
  margin-left: var(--unit-100);
}
.pt1 {
  padding-top: var(--unit-1);
}
.pt2 {
  padding-top: var(--unit-2);
}
.pt3 {
  padding-top: var(--unit-3);
}
.pt4 {
  padding-top: var(--unit-4);
}
.pt5 {
  padding-top: var(--unit-5);
}
.pt6 {
  padding-top: var(--unit-6);
}
.pt7 {
  padding-top: var(--unit-7);
}
.pt8 {
  padding-top: var(--unit-8);
}
.pt9 {
  padding-top: var(--unit-9);
}
.pt10 {
  padding-top: var(--unit-10);
}
.pt11 {
  padding-top: var(--unit-11);
}
.pt12 {
  padding-top: var(--unit-12);
}
.pt13 {
  padding-top: var(--unit-13);
}
.pt14 {
  padding-top: var(--unit-14);
}
.pt15 {
  padding-top: var(--unit-15);
}
.pt16 {
  padding-top: var(--unit-16);
}
.pt17 {
  padding-top: var(--unit-17);
}
.pt18 {
  padding-top: var(--unit-18);
}
.pt19 {
  padding-top: var(--unit-19);
}
.pt20 {
  padding-top: var(--unit-20);
}
.pt21 {
  padding-top: var(--unit-21);
}
.pt22 {
  padding-top: var(--unit-22);
}
.pt23 {
  padding-top: var(--unit-23);
}
.pt24 {
  padding-top: var(--unit-24);
}
.pt25 {
  padding-top: var(--unit-25);
}
.pt26 {
  padding-top: var(--unit-26);
}
.pt27 {
  padding-top: var(--unit-27);
}
.pt28 {
  padding-top: var(--unit-28);
}
.pt29 {
  padding-top: var(--unit-29);
}
.pt30 {
  padding-top: var(--unit-30);
}
.pt31 {
  padding-top: var(--unit-31);
}
.pt32 {
  padding-top: var(--unit-32);
}
.pt33 {
  padding-top: var(--unit-33);
}
.pt34 {
  padding-top: var(--unit-34);
}
.pt35 {
  padding-top: var(--unit-35);
}
.pt36 {
  padding-top: var(--unit-36);
}
.pt37 {
  padding-top: var(--unit-37);
}
.pt38 {
  padding-top: var(--unit-38);
}
.pt39 {
  padding-top: var(--unit-39);
}
.pt40 {
  padding-top: var(--unit-40);
}
.pt41 {
  padding-top: var(--unit-41);
}
.pt42 {
  padding-top: var(--unit-42);
}
.pt43 {
  padding-top: var(--unit-43);
}
.pt44 {
  padding-top: var(--unit-44);
}
.pt45 {
  padding-top: var(--unit-45);
}
.pt46 {
  padding-top: var(--unit-46);
}
.pt47 {
  padding-top: var(--unit-47);
}
.pt48 {
  padding-top: var(--unit-48);
}
.pt49 {
  padding-top: var(--unit-49);
}
.pt50 {
  padding-top: var(--unit-50);
}
.pt51 {
  padding-top: var(--unit-51);
}
.pt52 {
  padding-top: var(--unit-52);
}
.pt53 {
  padding-top: var(--unit-53);
}
.pt54 {
  padding-top: var(--unit-54);
}
.pt55 {
  padding-top: var(--unit-55);
}
.pt56 {
  padding-top: var(--unit-56);
}
.pt57 {
  padding-top: var(--unit-57);
}
.pt58 {
  padding-top: var(--unit-58);
}
.pt59 {
  padding-top: var(--unit-59);
}
.pt60 {
  padding-top: var(--unit-60);
}
.pt61 {
  padding-top: var(--unit-61);
}
.pt62 {
  padding-top: var(--unit-62);
}
.pt63 {
  padding-top: var(--unit-63);
}
.pt64 {
  padding-top: var(--unit-64);
}
.pt65 {
  padding-top: var(--unit-65);
}
.pt66 {
  padding-top: var(--unit-66);
}
.pt67 {
  padding-top: var(--unit-67);
}
.pt68 {
  padding-top: var(--unit-68);
}
.pt69 {
  padding-top: var(--unit-69);
}
.pt70 {
  padding-top: var(--unit-70);
}
.pt71 {
  padding-top: var(--unit-71);
}
.pt72 {
  padding-top: var(--unit-72);
}
.pt73 {
  padding-top: var(--unit-73);
}
.pt74 {
  padding-top: var(--unit-74);
}
.pt75 {
  padding-top: var(--unit-75);
}
.pt76 {
  padding-top: var(--unit-76);
}
.pt77 {
  padding-top: var(--unit-77);
}
.pt78 {
  padding-top: var(--unit-78);
}
.pt79 {
  padding-top: var(--unit-79);
}
.pt80 {
  padding-top: var(--unit-80);
}
.pt81 {
  padding-top: var(--unit-81);
}
.pt82 {
  padding-top: var(--unit-82);
}
.pt83 {
  padding-top: var(--unit-83);
}
.pt84 {
  padding-top: var(--unit-84);
}
.pt85 {
  padding-top: var(--unit-85);
}
.pt86 {
  padding-top: var(--unit-86);
}
.pt87 {
  padding-top: var(--unit-87);
}
.pt88 {
  padding-top: var(--unit-88);
}
.pt89 {
  padding-top: var(--unit-89);
}
.pt90 {
  padding-top: var(--unit-90);
}
.pt91 {
  padding-top: var(--unit-91);
}
.pt92 {
  padding-top: var(--unit-92);
}
.pt93 {
  padding-top: var(--unit-93);
}
.pt94 {
  padding-top: var(--unit-94);
}
.pt95 {
  padding-top: var(--unit-95);
}
.pt96 {
  padding-top: var(--unit-96);
}
.pt97 {
  padding-top: var(--unit-97);
}
.pt98 {
  padding-top: var(--unit-98);
}
.pt99 {
  padding-top: var(--unit-99);
}
.pt100 {
  padding-top: var(--unit-100);
}

.pr1 {
  padding-right: var(--unit-1);
}
.pr2 {
  padding-right: var(--unit-2);
}
.pr3 {
  padding-right: var(--unit-3);
}
.pr4 {
  padding-right: var(--unit-4);
}
.pr5 {
  padding-right: var(--unit-5);
}
.pr6 {
  padding-right: var(--unit-6);
}
.pr7 {
  padding-right: var(--unit-7);
}
.pr8 {
  padding-right: var(--unit-8);
}
.pr9 {
  padding-right: var(--unit-9);
}
.pr10 {
  padding-right: var(--unit-10);
}
.pr11 {
  padding-right: var(--unit-11);
}
.pr12 {
  padding-right: var(--unit-12);
}
.pr13 {
  padding-right: var(--unit-13);
}
.pr14 {
  padding-right: var(--unit-14);
}
.pr15 {
  padding-right: var(--unit-15);
}
.pr16 {
  padding-right: var(--unit-16);
}
.pr17 {
  padding-right: var(--unit-17);
}
.pr18 {
  padding-right: var(--unit-18);
}
.pr19 {
  padding-right: var(--unit-19);
}
.pr20 {
  padding-right: var(--unit-20);
}
.pr21 {
  padding-right: var(--unit-21);
}
.pr22 {
  padding-right: var(--unit-22);
}
.pr23 {
  padding-right: var(--unit-23);
}
.pr24 {
  padding-right: var(--unit-24);
}
.pr25 {
  padding-right: var(--unit-25);
}
.pr26 {
  padding-right: var(--unit-26);
}
.pr27 {
  padding-right: var(--unit-27);
}
.pr28 {
  padding-right: var(--unit-28);
}
.pr29 {
  padding-right: var(--unit-29);
}
.pr30 {
  padding-right: var(--unit-30);
}
.pr31 {
  padding-right: var(--unit-31);
}
.pr32 {
  padding-right: var(--unit-32);
}
.pr33 {
  padding-right: var(--unit-33);
}
.pr34 {
  padding-right: var(--unit-34);
}
.pr35 {
  padding-right: var(--unit-35);
}
.pr36 {
  padding-right: var(--unit-36);
}
.pr37 {
  padding-right: var(--unit-37);
}
.pr38 {
  padding-right: var(--unit-38);
}
.pr39 {
  padding-right: var(--unit-39);
}
.pr40 {
  padding-right: var(--unit-40);
}
.pr41 {
  padding-right: var(--unit-41);
}
.pr42 {
  padding-right: var(--unit-42);
}
.pr43 {
  padding-right: var(--unit-43);
}
.pr44 {
  padding-right: var(--unit-44);
}
.pr45 {
  padding-right: var(--unit-45);
}
.pr46 {
  padding-right: var(--unit-46);
}
.pr47 {
  padding-right: var(--unit-47);
}
.pr48 {
  padding-right: var(--unit-48);
}
.pr49 {
  padding-right: var(--unit-49);
}
.pr50 {
  padding-right: var(--unit-50);
}
.pr51 {
  padding-right: var(--unit-51);
}
.pr52 {
  padding-right: var(--unit-52);
}
.pr53 {
  padding-right: var(--unit-53);
}
.pr54 {
  padding-right: var(--unit-54);
}
.pr55 {
  padding-right: var(--unit-55);
}
.pr56 {
  padding-right: var(--unit-56);
}
.pr57 {
  padding-right: var(--unit-57);
}
.pr58 {
  padding-right: var(--unit-58);
}
.pr59 {
  padding-right: var(--unit-59);
}
.pr60 {
  padding-right: var(--unit-60);
}
.pr61 {
  padding-right: var(--unit-61);
}
.pr62 {
  padding-right: var(--unit-62);
}
.pr63 {
  padding-right: var(--unit-63);
}
.pr64 {
  padding-right: var(--unit-64);
}
.pr65 {
  padding-right: var(--unit-65);
}
.pr66 {
  padding-right: var(--unit-66);
}
.pr67 {
  padding-right: var(--unit-67);
}
.pr68 {
  padding-right: var(--unit-68);
}
.pr69 {
  padding-right: var(--unit-69);
}
.pr70 {
  padding-right: var(--unit-70);
}
.pr71 {
  padding-right: var(--unit-71);
}
.pr72 {
  padding-right: var(--unit-72);
}
.pr73 {
  padding-right: var(--unit-73);
}
.pr74 {
  padding-right: var(--unit-74);
}
.pr75 {
  padding-right: var(--unit-75);
}
.pr76 {
  padding-right: var(--unit-76);
}
.pr77 {
  padding-right: var(--unit-77);
}
.pr78 {
  padding-right: var(--unit-78);
}
.pr79 {
  padding-right: var(--unit-79);
}
.pr80 {
  padding-right: var(--unit-80);
}
.pr81 {
  padding-right: var(--unit-81);
}
.pr82 {
  padding-right: var(--unit-82);
}
.pr83 {
  padding-right: var(--unit-83);
}
.pr84 {
  padding-right: var(--unit-84);
}
.pr85 {
  padding-right: var(--unit-85);
}
.pr86 {
  padding-right: var(--unit-86);
}
.pr87 {
  padding-right: var(--unit-87);
}
.pr88 {
  padding-right: var(--unit-88);
}
.pr89 {
  padding-right: var(--unit-89);
}
.pr90 {
  padding-right: var(--unit-90);
}
.pr91 {
  padding-right: var(--unit-91);
}
.pr92 {
  padding-right: var(--unit-92);
}
.pr93 {
  padding-right: var(--unit-93);
}
.pr94 {
  padding-right: var(--unit-94);
}
.pr95 {
  padding-right: var(--unit-95);
}
.pr96 {
  padding-right: var(--unit-96);
}
.pr97 {
  padding-right: var(--unit-97);
}
.pr98 {
  padding-right: var(--unit-98);
}
.pr99 {
  padding-right: var(--unit-99);
}
.pr100 {
  padding-right: var(--unit-100);
}

.pb1 {
  padding-bottom: var(--unit-1);
}
.pb2 {
  padding-bottom: var(--unit-2);
}
.pb3 {
  padding-bottom: var(--unit-3);
}
.pb4 {
  padding-bottom: var(--unit-4);
}
.pb5 {
  padding-bottom: var(--unit-5);
}
.pb6 {
  padding-bottom: var(--unit-6);
}
.pb7 {
  padding-bottom: var(--unit-7);
}
.pb8 {
  padding-bottom: var(--unit-8);
}
.pb9 {
  padding-bottom: var(--unit-9);
}
.pb10 {
  padding-bottom: var(--unit-10);
}
.pb11 {
  padding-bottom: var(--unit-11);
}
.pb12 {
  padding-bottom: var(--unit-12);
}
.pb13 {
  padding-bottom: var(--unit-13);
}
.pb14 {
  padding-bottom: var(--unit-14);
}
.pb15 {
  padding-bottom: var(--unit-15);
}
.pb16 {
  padding-bottom: var(--unit-16);
}
.pb17 {
  padding-bottom: var(--unit-17);
}
.pb18 {
  padding-bottom: var(--unit-18);
}
.pb19 {
  padding-bottom: var(--unit-19);
}
.pb20 {
  padding-bottom: var(--unit-20);
}
.pb21 {
  padding-bottom: var(--unit-21);
}
.pb22 {
  padding-bottom: var(--unit-22);
}
.pb23 {
  padding-bottom: var(--unit-23);
}
.pb24 {
  padding-bottom: var(--unit-24);
}
.pb25 {
  padding-bottom: var(--unit-25);
}
.pb26 {
  padding-bottom: var(--unit-26);
}
.pb27 {
  padding-bottom: var(--unit-27);
}
.pb28 {
  padding-bottom: var(--unit-28);
}
.pb29 {
  padding-bottom: var(--unit-29);
}
.pb30 {
  padding-bottom: var(--unit-30);
}
.pb31 {
  padding-bottom: var(--unit-31);
}
.pb32 {
  padding-bottom: var(--unit-32);
}
.pb33 {
  padding-bottom: var(--unit-33);
}
.pb34 {
  padding-bottom: var(--unit-34);
}
.pb35 {
  padding-bottom: var(--unit-35);
}
.pb36 {
  padding-bottom: var(--unit-36);
}
.pb37 {
  padding-bottom: var(--unit-37);
}
.pb38 {
  padding-bottom: var(--unit-38);
}
.pb39 {
  padding-bottom: var(--unit-39);
}
.pb40 {
  padding-bottom: var(--unit-40);
}
.pb41 {
  padding-bottom: var(--unit-41);
}
.pb42 {
  padding-bottom: var(--unit-42);
}
.pb43 {
  padding-bottom: var(--unit-43);
}
.pb44 {
  padding-bottom: var(--unit-44);
}
.pb45 {
  padding-bottom: var(--unit-45);
}
.pb46 {
  padding-bottom: var(--unit-46);
}
.pb47 {
  padding-bottom: var(--unit-47);
}
.pb48 {
  padding-bottom: var(--unit-48);
}
.pb49 {
  padding-bottom: var(--unit-49);
}
.pb50 {
  padding-bottom: var(--unit-50);
}
.pb51 {
  padding-bottom: var(--unit-51);
}
.pb52 {
  padding-bottom: var(--unit-52);
}
.pb53 {
  padding-bottom: var(--unit-53);
}
.pb54 {
  padding-bottom: var(--unit-54);
}
.pb55 {
  padding-bottom: var(--unit-55);
}
.pb56 {
  padding-bottom: var(--unit-56);
}
.pb57 {
  padding-bottom: var(--unit-57);
}
.pb58 {
  padding-bottom: var(--unit-58);
}
.pb59 {
  padding-bottom: var(--unit-59);
}
.pb60 {
  padding-bottom: var(--unit-60);
}
.pb61 {
  padding-bottom: var(--unit-61);
}
.pb62 {
  padding-bottom: var(--unit-62);
}
.pb63 {
  padding-bottom: var(--unit-63);
}
.pb64 {
  padding-bottom: var(--unit-64);
}
.pb65 {
  padding-bottom: var(--unit-65);
}
.pb66 {
  padding-bottom: var(--unit-66);
}
.pb67 {
  padding-bottom: var(--unit-67);
}
.pb68 {
  padding-bottom: var(--unit-68);
}
.pb69 {
  padding-bottom: var(--unit-69);
}
.pb70 {
  padding-bottom: var(--unit-70);
}
.pb71 {
  padding-bottom: var(--unit-71);
}
.pb72 {
  padding-bottom: var(--unit-72);
}
.pb73 {
  padding-bottom: var(--unit-73);
}
.pb74 {
  padding-bottom: var(--unit-74);
}
.pb75 {
  padding-bottom: var(--unit-75);
}
.pb76 {
  padding-bottom: var(--unit-76);
}
.pb77 {
  padding-bottom: var(--unit-77);
}
.pb78 {
  padding-bottom: var(--unit-78);
}
.pb79 {
  padding-bottom: var(--unit-79);
}
.pb80 {
  padding-bottom: var(--unit-80);
}
.pb81 {
  padding-bottom: var(--unit-81);
}
.pb82 {
  padding-bottom: var(--unit-82);
}
.pb83 {
  padding-bottom: var(--unit-83);
}
.pb84 {
  padding-bottom: var(--unit-84);
}
.pb85 {
  padding-bottom: var(--unit-85);
}
.pb86 {
  padding-bottom: var(--unit-86);
}
.pb87 {
  padding-bottom: var(--unit-87);
}
.pb88 {
  padding-bottom: var(--unit-88);
}
.pb89 {
  padding-bottom: var(--unit-89);
}
.pb90 {
  padding-bottom: var(--unit-90);
}
.pb91 {
  padding-bottom: var(--unit-91);
}
.pb92 {
  padding-bottom: var(--unit-92);
}
.pb93 {
  padding-bottom: var(--unit-93);
}
.pb94 {
  padding-bottom: var(--unit-94);
}
.pb95 {
  padding-bottom: var(--unit-95);
}
.pb96 {
  padding-bottom: var(--unit-96);
}
.pb97 {
  padding-bottom: var(--unit-97);
}
.pb98 {
  padding-bottom: var(--unit-98);
}
.pb99 {
  padding-bottom: var(--unit-99);
}
.pb100 {
  padding-bottom: var(--unit-100);
}

.pl1 {
  padding-left: var(--unit-1);
}
.pl2 {
  padding-left: var(--unit-2);
}
.pl3 {
  padding-left: var(--unit-3);
}
.pl4 {
  padding-left: var(--unit-4);
}
.pl5 {
  padding-left: var(--unit-5);
}
.pl6 {
  padding-left: var(--unit-6);
}
.pl7 {
  padding-left: var(--unit-7);
}
.pl8 {
  padding-left: var(--unit-8);
}
.pl9 {
  padding-left: var(--unit-9);
}
.pl10 {
  padding-left: var(--unit-10);
}
.pl11 {
  padding-left: var(--unit-11);
}
.pl12 {
  padding-left: var(--unit-12);
}
.pl13 {
  padding-left: var(--unit-13);
}
.pl14 {
  padding-left: var(--unit-14);
}
.pl15 {
  padding-left: var(--unit-15);
}
.pl16 {
  padding-left: var(--unit-16);
}
.pl17 {
  padding-left: var(--unit-17);
}
.pl18 {
  padding-left: var(--unit-18);
}
.pl19 {
  padding-left: var(--unit-19);
}
.pl20 {
  padding-left: var(--unit-20);
}
.pl21 {
  padding-left: var(--unit-21);
}
.pl22 {
  padding-left: var(--unit-22);
}
.pl23 {
  padding-left: var(--unit-23);
}
.pl24 {
  padding-left: var(--unit-24);
}
.pl25 {
  padding-left: var(--unit-25);
}
.pl26 {
  padding-left: var(--unit-26);
}
.pl27 {
  padding-left: var(--unit-27);
}
.pl28 {
  padding-left: var(--unit-28);
}
.pl29 {
  padding-left: var(--unit-29);
}
.pl30 {
  padding-left: var(--unit-30);
}
.pl31 {
  padding-left: var(--unit-31);
}
.pl32 {
  padding-left: var(--unit-32);
}
.pl33 {
  padding-left: var(--unit-33);
}
.pl34 {
  padding-left: var(--unit-34);
}
.pl35 {
  padding-left: var(--unit-35);
}
.pl36 {
  padding-left: var(--unit-36);
}
.pl37 {
  padding-left: var(--unit-37);
}
.pl38 {
  padding-left: var(--unit-38);
}
.pl39 {
  padding-left: var(--unit-39);
}
.pl40 {
  padding-left: var(--unit-40);
}
.pl41 {
  padding-left: var(--unit-41);
}
.pl42 {
  padding-left: var(--unit-42);
}
.pl43 {
  padding-left: var(--unit-43);
}
.pl44 {
  padding-left: var(--unit-44);
}
.pl45 {
  padding-left: var(--unit-45);
}
.pl46 {
  padding-left: var(--unit-46);
}
.pl47 {
  padding-left: var(--unit-47);
}
.pl48 {
  padding-left: var(--unit-48);
}
.pl49 {
  padding-left: var(--unit-49);
}
.pl50 {
  padding-left: var(--unit-50);
}
.pl51 {
  padding-left: var(--unit-51);
}
.pl52 {
  padding-left: var(--unit-52);
}
.pl53 {
  padding-left: var(--unit-53);
}
.pl54 {
  padding-left: var(--unit-54);
}
.pl55 {
  padding-left: var(--unit-55);
}
.pl56 {
  padding-left: var(--unit-56);
}
.pl57 {
  padding-left: var(--unit-57);
}
.pl58 {
  padding-left: var(--unit-58);
}
.pl59 {
  padding-left: var(--unit-59);
}
.pl60 {
  padding-left: var(--unit-60);
}
.pl61 {
  padding-left: var(--unit-61);
}
.pl62 {
  padding-left: var(--unit-62);
}
.pl63 {
  padding-left: var(--unit-63);
}
.pl64 {
  padding-left: var(--unit-64);
}
.pl65 {
  padding-left: var(--unit-65);
}
.pl66 {
  padding-left: var(--unit-66);
}
.pl67 {
  padding-left: var(--unit-67);
}
.pl68 {
  padding-left: var(--unit-68);
}
.pl69 {
  padding-left: var(--unit-69);
}
.pl70 {
  padding-left: var(--unit-70);
}
.pl71 {
  padding-left: var(--unit-71);
}
.pl72 {
  padding-left: var(--unit-72);
}
.pl73 {
  padding-left: var(--unit-73);
}
.pl74 {
  padding-left: var(--unit-74);
}
.pl75 {
  padding-left: var(--unit-75);
}
.pl76 {
  padding-left: var(--unit-76);
}
.pl77 {
  padding-left: var(--unit-77);
}
.pl78 {
  padding-left: var(--unit-78);
}
.pl79 {
  padding-left: var(--unit-79);
}
.pl80 {
  padding-left: var(--unit-80);
}
.pl81 {
  padding-left: var(--unit-81);
}
.pl82 {
  padding-left: var(--unit-82);
}
.pl83 {
  padding-left: var(--unit-83);
}
.pl84 {
  padding-left: var(--unit-84);
}
.pl85 {
  padding-left: var(--unit-85);
}
.pl86 {
  padding-left: var(--unit-86);
}
.pl87 {
  padding-left: var(--unit-87);
}
.pl88 {
  padding-left: var(--unit-88);
}
.pl89 {
  padding-left: var(--unit-89);
}
.pl90 {
  padding-left: var(--unit-90);
}
.pl91 {
  padding-left: var(--unit-91);
}
.pl92 {
  padding-left: var(--unit-92);
}
.pl93 {
  padding-left: var(--unit-93);
}
.pl94 {
  padding-left: var(--unit-94);
}
.pl95 {
  padding-left: var(--unit-95);
}
.pl96 {
  padding-left: var(--unit-96);
}
.pl97 {
  padding-left: var(--unit-97);
}
.pl98 {
  padding-left: var(--unit-98);
}
.pl99 {
  padding-left: var(--unit-99);
}
.pl100 {
  padding-left: var(--unit-100);
}

// 字体
// 字体
// 字体
// 字体
// 字体
// 字体

.f1 {
  font-size: var(--font-1);
}
.f2 {
  font-size: var(--font-2);
}
.f3 {
  font-size: var(--font-3);
}
.f4 {
  font-size: var(--font-4);
}
.f5 {
  font-size: var(--font-5);
}
.f6 {
  font-size: var(--font-6);
}
.f7 {
  font-size: var(--font-7);
}
.f8 {
  font-size: var(--font-8);
}
.f9 {
  font-size: var(--font-9);
}
.f10 {
  font-size: var(--font-10);
}
.f11 {
  font-size: var(--font-11);
}
.f12 {
  font-size: var(--font-12);
}
.f13 {
  font-size: var(--font-13);
}
.f14 {
  font-size: var(--font-14);
}
.f15 {
  font-size: var(--font-15);
}
.f16 {
  font-size: var(--font-16);
}
.f17 {
  font-size: var(--font-17);
}
.f18 {
  font-size: var(--font-18);
}
.f19 {
  font-size: var(--font-19);
}
.f20 {
  font-size: var(--font-20);
}
.f21 {
  font-size: var(--font-21);
}
.f22 {
  font-size: var(--font-22);
}
.f23 {
  font-size: var(--font-23);
}
.f24 {
  font-size: var(--font-24);
}
.f25 {
  font-size: var(--font-25);
}
.f26 {
  font-size: var(--font-26);
}
.f27 {
  font-size: var(--font-27);
}
.f28 {
  font-size: var(--font-28);
}
.f29 {
  font-size: var(--font-29);
}
.f30 {
  font-size: var(--font-30);
}
.f31 {
  font-size: var(--font-31);
}
.f32 {
  font-size: var(--font-32);
}
.f33 {
  font-size: var(--font-33);
}
.f34 {
  font-size: var(--font-34);
}
.f35 {
  font-size: var(--font-35);
}
.f36 {
  font-size: var(--font-36);
}
.f37 {
  font-size: var(--font-37);
}
.f38 {
  font-size: var(--font-38);
}
.f39 {
  font-size: var(--font-39);
}
.f40 {
  font-size: var(--font-40);
}
.f41 {
  font-size: var(--font-41);
}
.f42 {
  font-size: var(--font-42);
}
.f43 {
  font-size: var(--font-43);
}
.f44 {
  font-size: var(--font-44);
}
.f45 {
  font-size: var(--font-45);
}
.f46 {
  font-size: var(--font-46);
}
.f47 {
  font-size: var(--font-47);
}
.f48 {
  font-size: var(--font-48);
}
.f49 {
  font-size: var(--font-49);
}
.f50 {
  font-size: var(--font-50);
}
.f51 {
  font-size: var(--font-51);
}
.f52 {
  font-size: var(--font-52);
}
.f53 {
  font-size: var(--font-53);
}
.f54 {
  font-size: var(--font-54);
}
.f55 {
  font-size: var(--font-55);
}
.f56 {
  font-size: var(--font-56);
}
.f57 {
  font-size: var(--font-57);
}
.f58 {
  font-size: var(--font-58);
}
.f59 {
  font-size: var(--font-59);
}
.f60 {
  font-size: var(--font-60);
}
.f61 {
  font-size: var(--font-61);
}
.f62 {
  font-size: var(--font-62);
}
.f63 {
  font-size: var(--font-63);
}
.f64 {
  font-size: var(--font-64);
}
.f65 {
  font-size: var(--font-65);
}
.f66 {
  font-size: var(--font-66);
}
.f67 {
  font-size: var(--font-67);
}
.f68 {
  font-size: var(--font-68);
}
.f69 {
  font-size: var(--font-69);
}
.f70 {
  font-size: var(--font-70);
}
.f71 {
  font-size: var(--font-71);
}
.f72 {
  font-size: var(--font-72);
}
.f73 {
  font-size: var(--font-73);
}
.f74 {
  font-size: var(--font-74);
}
.f75 {
  font-size: var(--font-75);
}
.f76 {
  font-size: var(--font-76);
}
.f77 {
  font-size: var(--font-77);
}
.f78 {
  font-size: var(--font-78);
}
.f79 {
  font-size: var(--font-79);
}
.f80 {
  font-size: var(--font-80);
}
.f81 {
  font-size: var(--font-81);
}
.f82 {
  font-size: var(--font-82);
}
.f83 {
  font-size: var(--font-83);
}
.f84 {
  font-size: var(--font-84);
}
.f85 {
  font-size: var(--font-85);
}
.f86 {
  font-size: var(--font-86);
}
.f87 {
  font-size: var(--font-87);
}
.f88 {
  font-size: var(--font-88);
}
.f89 {
  font-size: var(--font-89);
}
.f90 {
  font-size: var(--font-90);
}
.f91 {
  font-size: var(--font-91);
}
.f92 {
  font-size: var(--font-92);
}
.f93 {
  font-size: var(--font-93);
}
.f94 {
  font-size: var(--font-94);
}
.f95 {
  font-size: var(--font-95);
}
.f96 {
  font-size: var(--font-96);
}
.f97 {
  font-size: var(--font-97);
}
.f98 {
  font-size: var(--font-98);
}
.f99 {
  font-size: var(--font-99);
}
.f100 {
  font-size: var(--font-100);
}
