:root {
  --unit-1: 0.01rem;
  --unit-2: 0.02rem;
  --unit-3: 0.03rem;
  --unit-4: 0.04rem;
  --unit-5: 0.05rem;
  --unit-6: 0.06rem;
  --unit-7: 0.07rem;
  --unit-8: 0.08rem;
  --unit-9: 0.09rem;
  --unit-10: 0.1rem;
  --unit-11: 0.11rem;
  --unit-12: 0.12rem;
  --unit-13: 0.13rem;
  --unit-14: 0.14rem;
  --unit-15: 0.15rem;
  --unit-16: 0.16rem;
  --unit-17: 0.17rem;
  --unit-18: 0.18rem;
  --unit-19: 0.19rem;
  --unit-20: 0.2rem;
  --unit-21: 0.21rem;
  --unit-22: 0.22rem;
  --unit-23: 0.23rem;
  --unit-24: 0.24rem;
  --unit-25: 0.25rem;
  --unit-26: 0.26rem;
  --unit-27: 0.27rem;
  --unit-28: 0.28rem;
  --unit-29: 0.29rem;
  --unit-30: 0.3rem;
  --unit-31: 0.31rem;
  --unit-32: 0.32rem;
  --unit-33: 0.33rem;
  --unit-34: 0.34rem;
  --unit-35: 0.35rem;
  --unit-36: 0.36rem;
  --unit-37: 0.37rem;
  --unit-38: 0.38rem;
  --unit-39: 0.39rem;
  --unit-40: 0.4rem;
  --unit-41: 0.41rem;
  --unit-42: 0.42rem;
  --unit-43: 0.43rem;
  --unit-44: 0.44rem;
  --unit-45: 0.45rem;
  --unit-46: 0.46rem;
  --unit-47: 0.47rem;
  --unit-48: 0.48rem;
  --unit-49: 0.49rem;
  --unit-50: 0.5rem;
  --unit-51: 0.51rem;
  --unit-52: 0.52rem;
  --unit-53: 0.53rem;
  --unit-54: 0.54rem;
  --unit-55: 0.55rem;
  --unit-56: 0.56rem;
  --unit-57: 0.57rem;
  --unit-58: 0.58rem;
  --unit-59: 0.59rem;
  --unit-60: 0.6rem;
  --unit-61: 0.61rem;
  --unit-62: 0.62rem;
  --unit-63: 0.63rem;
  --unit-64: 0.64rem;
  --unit-65: 0.65rem;
  --unit-66: 0.66rem;
  --unit-67: 0.67rem;
  --unit-68: 0.68rem;
  --unit-69: 0.69rem;
  --unit-70: 0.7rem;
  --unit-71: 0.71rem;
  --unit-72: 0.72rem;
  --unit-73: 0.73rem;
  --unit-74: 0.74rem;
  --unit-75: 0.75rem;
  --unit-76: 0.76rem;
  --unit-77: 0.77rem;
  --unit-78: 0.78rem;
  --unit-79: 0.79rem;
  --unit-80: 0.8rem;
  --unit-81: 0.81rem;
  --unit-82: 0.82rem;
  --unit-83: 0.83rem;
  --unit-84: 0.84rem;
  --unit-85: 0.85rem;
  --unit-86: 0.86rem;
  --unit-87: 0.87rem;
  --unit-88: 0.88rem;
  --unit-89: 0.89rem;
  --unit-90: 0.9rem;
  --unit-91: 0.91rem;
  --unit-92: 0.92rem;
  --unit-93: 0.93rem;
  --unit-94: 0.94rem;
  --unit-95: 0.95rem;
  --unit-96: 0.96rem;
  --unit-97: 0.97rem;
  --unit-98: 0.98rem;
  --unit-99: 0.99rem;
  --unit-100: 1rem;

  --font-1: 0.01rem;
  --font-2: 0.02rem;
  --font-3: 0.03rem;
  --font-4: 0.04rem;
  --font-5: 0.05rem;
  --font-6: 0.06rem;
  --font-7: 0.07rem;
  --font-8: 0.08rem;
  --font-9: 0.09rem;
  --font-10: 0.1rem;
  --font-11: 0.11rem;
  --font-12: 0.12rem;
  --font-13: 0.13rem;
  --font-14: 0.14rem;
  --font-15: 0.15rem;
  --font-16: 0.16rem;
  --font-17: 0.17rem;
  --font-18: 0.18rem;
  --font-19: 0.19rem;
  --font-20: 0.2rem;
  --font-21: 0.21rem;
  --font-22: 0.22rem;
  --font-23: 0.23rem;
  --font-24: 0.24rem;
  --font-25: 0.25rem;
  --font-26: 0.26rem;
  --font-27: 0.27rem;
  --font-28: 0.28rem;
  --font-29: 0.29rem;
  --font-30: 0.3rem;
  --font-31: 0.31rem;
  --font-32: 0.32rem;
  --font-33: 0.33rem;
  --font-34: 0.34rem;
  --font-35: 0.35rem;
  --font-36: 0.36rem;
  --font-37: 0.37rem;
  --font-38: 0.38rem;
  --font-39: 0.39rem;
  --font-40: 0.4rem;
  --font-41: 0.41rem;
  --font-42: 0.42rem;
  --font-43: 0.43rem;
  --font-44: 0.44rem;
  --font-45: 0.45rem;
  --font-46: 0.46rem;
  --font-47: 0.47rem;
  --font-48: 0.48rem;
  --font-49: 0.49rem;
  --font-50: 0.5rem;
  --font-51: 0.51rem;
  --font-52: 0.52rem;
  --font-53: 0.53rem;
  --font-54: 0.54rem;
  --font-55: 0.55rem;
  --font-56: 0.56rem;
  --font-57: 0.57rem;
  --font-58: 0.58rem;
  --font-59: 0.59rem;
  --font-60: 0.6rem;
  --font-61: 0.61rem;
  --font-62: 0.62rem;
  --font-63: 0.63rem;
  --font-64: 0.64rem;
  --font-65: 0.65rem;
  --font-66: 0.66rem;
  --font-67: 0.67rem;
  --font-68: 0.68rem;
  --font-69: 0.69rem;
  --font-70: 0.7rem;
  --font-71: 0.71rem;
  --font-72: 0.72rem;
  --font-73: 0.73rem;
  --font-74: 0.74rem;
  --font-75: 0.75rem;
  --font-76: 0.76rem;
  --font-77: 0.77rem;
  --font-78: 0.78rem;
  --font-79: 0.79rem;
  --font-80: 0.8rem;
  --font-81: 0.81rem;
  --font-82: 0.82rem;
  --font-83: 0.83rem;
  --font-84: 0.84rem;
  --font-85: 0.85rem;
  --font-86: 0.86rem;
  --font-87: 0.87rem;
  --font-88: 0.88rem;
  --font-89: 0.89rem;
  --font-90: 0.9rem;
  --font-91: 0.91rem;
  --font-92: 0.92rem;
  --font-93: 0.93rem;
  --font-94: 0.94rem;
  --font-95: 0.95rem;
  --font-96: 0.96rem;
  --font-97: 0.97rem;
  --font-98: 0.98rem;
  --font-99: 0.99rem;
  --font-100: 1rem;
}

:root {
  --unit-1: 1px;
  --unit-2: 2px;
  --unit-3: 3px;
  --unit-4: 4px;
  --unit-5: 5px;
  --unit-6: 6px;
  --unit-7: 7px;
  --unit-8: 8px;
  --unit-9: 9px;
  --unit-10: 10px;
  --unit-11: 11px;
  --unit-12: 12px;
  --unit-13: 13px;
  --unit-14: 14px;
  --unit-15: 15px;
  --unit-16: 16px;
  --unit-17: 17px;
  --unit-18: 18px;
  --unit-19: 19px;
  --unit-20: 20px;
  --unit-21: 21px;
  --unit-22: 22px;
  --unit-23: 23px;
  --unit-24: 24px;
  --unit-25: 25px;
  --unit-26: 26px;
  --unit-27: 27px;
  --unit-28: 28px;
  --unit-29: 29px;
  --unit-30: 30px;
  --unit-31: 31px;
  --unit-32: 32px;
  --unit-33: 33px;
  --unit-34: 34px;
  --unit-35: 35px;
  --unit-36: 36px;
  --unit-37: 37px;
  --unit-38: 38px;
  --unit-39: 39px;
  --unit-40: 40px;
  --unit-41: 41px;
  --unit-42: 42px;
  --unit-43: 43px;
  --unit-44: 44px;
  --unit-45: 45px;
  --unit-46: 46px;
  --unit-47: 47px;
  --unit-48: 48px;
  --unit-49: 49px;
  --unit-50: 50px;
  --unit-51: 51px;
  --unit-52: 52px;
  --unit-53: 53px;
  --unit-54: 54px;
  --unit-55: 55px;
  --unit-56: 56px;
  --unit-57: 57px;
  --unit-58: 58px;
  --unit-59: 59px;
  --unit-60: 60px;
  --unit-61: 61px;
  --unit-62: 62px;
  --unit-63: 63px;
  --unit-64: 64px;
  --unit-65: 65px;
  --unit-66: 66px;
  --unit-67: 67px;
  --unit-68: 68px;
  --unit-69: 69px;
  --unit-70: 70px;
  --unit-71: 71px;
  --unit-72: 72px;
  --unit-73: 73px;
  --unit-74: 74px;
  --unit-75: 75px;
  --unit-76: 76px;
  --unit-77: 77px;
  --unit-78: 78px;
  --unit-79: 79px;
  --unit-80: 80px;
  --unit-81: 81px;
  --unit-82: 82px;
  --unit-83: 83px;
  --unit-84: 84px;
  --unit-85: 85px;
  --unit-86: 86px;
  --unit-87: 87px;
  --unit-88: 88px;
  --unit-89: 89px;
  --unit-90: 90px;
  --unit-91: 91px;
  --unit-92: 92px;
  --unit-93: 93px;
  --unit-94: 94px;
  --unit-95: 95px;
  --unit-96: 96px;
  --unit-97: 97px;
  --unit-98: 98px;
  --unit-99: 99px;
  --unit-100: 100px;

  --font-1: 1px;
  --font-2: 2px;
  --font-3: 3px;
  --font-4: 4px;
  --font-5: 5px;
  --font-6: 6px;
  --font-7: 7px;
  --font-8: 8px;
  --font-9: 9px;
  --font-10: 10px;
  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-17: 17px;
  --font-18: 18px;
  --font-19: 19px;
  --font-20: 20px;
  --font-21: 21px;
  --font-22: 22px;
  --font-23: 23px;
  --font-24: 24px;
  --font-25: 25px;
  --font-26: 26px;
  --font-27: 27px;
  --font-28: 28px;
  --font-29: 29px;
  --font-30: 30px;
  --font-31: 31px;
  --font-32: 32px;
  --font-33: 33px;
  --font-34: 34px;
  --font-35: 35px;
  --font-36: 36px;
  --font-37: 37px;
  --font-38: 38px;
  --font-39: 39px;
  --font-40: 40px;
  --font-41: 41px;
  --font-42: 42px;
  --font-43: 43px;
  --font-44: 44px;
  --font-45: 45px;
  --font-46: 46px;
  --font-47: 47px;
  --font-48: 48px;
  --font-49: 49px;
  --font-50: 50px;
  --font-51: 51px;
  --font-52: 52px;
  --font-53: 53px;
  --font-54: 54px;
  --font-55: 55px;
  --font-56: 56px;
  --font-57: 57px;
  --font-58: 58px;
  --font-59: 59px;
  --font-60: 60px;
  --font-61: 61px;
  --font-62: 62px;
  --font-63: 63px;
  --font-64: 64px;
  --font-65: 65px;
  --font-66: 66px;
  --font-67: 67px;
  --font-68: 68px;
  --font-69: 69px;
  --font-70: 70px;
  --font-71: 71px;
  --font-72: 72px;
  --font-73: 73px;
  --font-74: 74px;
  --font-75: 75px;
  --font-76: 76px;
  --font-77: 77px;
  --font-78: 78px;
  --font-79: 79px;
  --font-80: 80px;
  --font-81: 81px;
  --font-82: 82px;
  --font-83: 83px;
  --font-84: 84px;
  --font-85: 85px;
  --font-86: 86px;
  --font-87: 87px;
  --font-88: 88px;
  --font-89: 89px;
  --font-90: 90px;
  --font-91: 91px;
  --font-92: 92px;
  --font-93: 93px;
  --font-94: 94px;
  --font-95: 95px;
  --font-96: 96px;
  --font-97: 97px;
  --font-98: 98px;
  --font-99: 99px;
  --font-100: 100px;
}
