.reportDetails {
  padding-bottom: 50px;
  .top {
    width: 100%;
    height: 700px;
    background: #f3f8ff;
    display: flex;
    justify-content: center;
    .topContent {
      width: 1200px;
      margin-top: 26px;
    }
  }
  .bottom {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    .bottomLayout {
      width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .bottomLeft {
      width: 832px;
    }
    .bottomRight {
      width: 340px;
      display: flex;
      flex-direction: column;
      .bottomRightPurchaseOrDownloadReport {
        margin: 28px 0 20px 0;
      }
    }
  }
}
