.recommend {
  border: 1px solid #ebebeb;
  border-top: 3px solid #005bac;
  padding: 23px 24px 10px 24px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .titleImg {
      width: 19px;
      height: 17px;
      margin-right: 10px;
    }
    .titleText {
      font-size: 18px;
      color: #005bac;
    }
    span:first-child {
      color: #007bff;
      margin-right: 5px;
    }
    span:last-child {
      font-weight: bold;
    }
  }
  .items {
    .item {
      display: flex;
      margin-bottom: 10px;
      .cover {
        width: 56px;
        height: 72px;
        object-fit: cover;
        margin-right: 10px;
      }
      .content {
        .title {
          font-family: OPPPSans;
          font-size: 14px;
          color: #2d353d;
        }
        .info {
          font-size: 13px;
          font-weight: 290;
          color: #9fadb8;
          span {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
