.container {
  display: flex;
  flex-direction: row;
      margin-top: 26px;
  .containerLeft {
    margin-right: 40px;
    .img {
      width: 500px;
      height: 499px;
    }
  }
  .containerRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .rightTopBtn {
      /deep/ .el-button {
        width: 64px;
        height: 28px;
        background: #005AAC;
        padding: 0px;
        font-size: 12px;
        box-sizing: border-box;
        border-bottom: 3px solid #ABDB77;
      }
    }
    .rightTopTitle {
      font-family: OPPPSans;
      font-size: 32px;
      font-weight: 500;
      color: #3d3d3d;
      margin: 18px 0px 14px 0px;
    }
    .rightTopSubTitle {
      height: 120px;
      font-family: OPPPSans;
      font-size: 14px;
      font-weight: 290;
      line-height: 24px;
      margin-bottom: 31px;
      color: #717e8a;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5; /* 这里是超出几行省略 */
      overflow: hidden;
    }
    .rightTopInfo {
      display: flex;
      flex-direction: column;

      .rightTopInfoLayout {
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .rightTopInfoTitle {
        margin-right: 24px;
        font-family: OPPPSans;
        font-size: 14px;
        font-weight: 290;
        color: #8c8d8f;
      }
      .infoText {
        font-family: OPPPSans;
        font-size: 14px;
        line-height: 24px;
        color: #373737;
      }
      .authorLabel {
        background: #fef1f0;
        width: 54px;
        height: 28px;
        font-family: OPPPSans;
        font-size: 12px;
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D7403C;
      }
      .downLoad {
        font-family: OPPPSans;
        font-size: 14px;
        line-height: 24px;
        color: #005aac;
        cursor: pointer;
        margin-right: 16px;
      }
    }
    .rightTopBtnGroup {
      .payBtn {
        width: 160px;
        height: 48px;
        background: #d7403c;
        border: 0px;
        font-size: 16px;
      }
      .checkBtn {
        width: 160px;
        height: 48px;
        background: #005bac;
        border: 0px;
        font-size: 16px;
        margin-right: 16px;
      }
      .contactBtn {
        width: 160px;
        height: 48px;
        background: #fafafa;
        box-sizing: border-box;
        border: 1px solid #dcdfe6;
        font-size: 16px;
        &:hover {
          color: #005aac;
        }
      }
      img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }
  }
}

// 联系助理弹出框样式
.contact-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;

  .item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
    
    .label {
      font-family: OPPPSans;
      font-size: 14px;
      font-weight: 500;
      color: #333;
      min-width: 70px;
      margin-right: 8px;
    }
    
    .value {
      font-family: OPPPSans;
      font-size: 14px;
      color: #666;
      flex: 1;
    }
  }
  
  .qr-code-section {
    text-align: center;
    
    .qr-code {
      display: inline-block;
      width: 106px;
      height: 106px;
      background-color: #ccc;
      img {
        width: 106px;
        height: 106px;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
      }
    }
  }
}