.container {
  display: flex;
  flex-direction: row;
      margin-top: 26px;
  .containerLeft {
    margin-right: 40px;
    .img {
      width: 500px;
      height: 499px;
    }
  }
  .containerRight {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .rightTopTitle {
      font-family: PingFang SC;
      font-size: 32px;
      font-weight: 500;
      color: #3d3d3d;
      margin: 18px 0px 14px 0px;
    }
    .rightTopSubTitle {
      height: 120px;
      font-family: Microsoft YaHei;
      font-size: 14px;
      font-weight: 290;
      line-height: 24px;
      margin-bottom: 31px;
      color: #717e8a;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5; /* 这里是超出几行省略 */
      overflow: hidden;
    }
    .rightTopInfo {
      display: flex;
      flex-direction: column;

      .rightTopInfoLayout {
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .rightTopInfoTitle {
        margin-right: 24px;
        font-family: Microsoft YaHei;
        font-size: 14px;
        font-weight: 290;
        color: #8c8d8f;
      }
      .infoText {
        font-family: Microsoft YaHei;
        font-size: 14px;
        line-height: 24px;
        color: #373737;
      }
      .authorLabel {
        background: #fef1f0;
        width: 54px;
        height: 28px;
        font-family: Microsoft YaHei;
        font-size: 12px;
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D7403C;
      }
      .downLoad {
        font-family: Microsoft YaHei;
        font-size: 14px;
        line-height: 24px;
        color: #005aac;
        cursor: pointer;
        margin-right: 16px;
      }
    }
    .rightTopBtnGroup {
      .payBtn {
        width: 160px;
        height: 48px;
        background: #d7403c;
        border: 0px;
        font-size: 16px;
      }
      .checkBtn {
        width: 160px;
        height: 48px;
        background: #005bac;
        border: 0px;
        font-size: 16px;
      }
      .contactBtn {
        width: 160px;
        height: 48px;
        background: #fafafa;
        box-sizing: border-box;
        border: 1px solid #dcdfe6;
        font-size: 16px;
      }
    }
  }
}