.layout {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
  .layout-left{
    width: 860px;
    height: 100%;
    
  }
  .layout-right{
    width: 322px;
    height: 100%;
  }
}
