.container{
  background-color: #F3F8FF;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px 0;
  .layout{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}