.layout {
  display: flex;
  flex-direction: column;
  height: 80px;
  border-bottom: 1px solid #eef2f6;
  margin-bottom: 14px;
  .title {
    font-family: Microsoft YaHei;
    font-size: 14px;
    color: #2d353d;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 这里是超出几行省略 */
    overflow: hidden;
  }
  .info {
    margin-top: 14px;
    font-family: Microsoft YaHei;
    font-size: 13px;
    font-weight: 290;
    color: #9fadb8;
  }
}
