.popularReports {
  width: 322px;
  .title {
    font-family: OPPPSans;
    font-size: 18px;
    color: #005bac;
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
  }
  .titleImg {
    width: 19px;
    height: 17px;
    margin-right: 10px;
  }
  .content {
    margin-top: 18px;
  }
}
