@media (max-width: 1199px) {
    .page-index{
        margin-top: 0;
        .main-content{
            width: 100%;
            padding:2rem 15px 5rem;

            .breadcrumb{
                flex-wrap: wrap;
            }
            .contract-content-section{
                flex-direction: column;
                .document-preview{
                    .document-preview-header{
                        flex-direction: column;
                        margin:0;
                        padding:20px 15px;
                        .header-right{
                            margin-left: 0;
                            margin-top: 20px;
                        }
                    }
                    .document-container{
                        .document-page{
                            padding:20px;
                        }
                    }
                }

                .download-info-section{
                    width: 100%;
                    .download-info{
                        position: relative;
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}